<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META http-equiv="X-UA-Compatible" content="IE=8">
<TITLE>Created by BCL easyConverter SDK 3 (HTML Version)</TITLE>
<META name="generator" content="BCL easyConverter SDK 3.0.60">
<STYLE type="text/css">

body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 33px 0px 243px 3px;padding: 0px;border: none;width: 813px;}





.ft0{font: bold 27px 'Times';line-height: 29px;}
.ft1{font: bold 19px 'Times';line-height: 22px;}
.ft2{font: 1px 'Times';line-height: 1px;}
.ft3{font: 13px 'Times';line-height: 15px;}
.ft4{font: 19px 'Times';line-height: 19px;}
.ft5{font: 11px 'Times';line-height: 13px;}
.ft6{font: 1px 'Times';line-height: 5px;}
.ft7{font: 13px 'Times';line-height: 14px;}
.ft8{font: 10px 'Times';line-height: 12px;}
.ft9{font: 11px 'Times';line-height: 14px;}
.ft10{font: 1px 'Times';line-height: 14px;}
.ft11{font: 1px 'Times';line-height: 12px;}
.ft12{font: 8px 'Times';line-height: 10px;}
.ft13{font: 11px 'Times';line-height: 12px;}
.ft14{font: 1px 'Times';line-height: 3px;}
.ft15{font: 1px 'Times';line-height: 9px;}
.ft16{font: 8px 'Times';line-height: 9px;}
.ft17{font: 1px 'Times';line-height: 2px;}
.ft18{font: 19px 'Times';line-height: 20px;}
.ft19{font: 1px 'Times';line-height: 6px;}
.ft20{font: 13px 'Times';line-height: 13px;}
.ft21{font: 1px 'Times';line-height: 13px;}
.ft22{font: 1px 'Times';line-height: 10px;}

.p0{text-align: left;padding-left: 105px;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: left;padding-left: 297px;margin-top: 1px;margin-bottom: 0px;}
.p2{text-align: left;padding-left: 320px;margin-top: 0px;margin-bottom: 0px;}
.p3{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p4{text-align: left;padding-left: 9px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p5{text-align: left;padding-left: 8px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p6{text-align: left;padding-left: 6px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p7{text-align: right;padding-right: 39px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p8{text-align: right;padding-right: 16px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p9{text-align: left;padding-left: 28px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p10{text-align: right;padding-right: 6px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}

.td0{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 174px;vertical-align: bottom;}
.td1{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 68px;vertical-align: bottom;}
.td2{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 69px;vertical-align: bottom;}
.td3{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 72px;vertical-align: bottom;}
.td4{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 52px;vertical-align: bottom;}
.td5{border-left: #000000 1px solid;border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 172px;vertical-align: bottom;}
.td6{padding: 0px;margin: 0px;width: 37px;vertical-align: bottom;}
.td7{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 30px;vertical-align: bottom;}
.td8{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 31px;vertical-align: bottom;}
.td9{padding: 0px;margin: 0px;width: 36px;vertical-align: bottom;}
.td10{padding: 0px;margin: 0px;width: 72px;vertical-align: bottom;}
.td11{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 51px;vertical-align: bottom;}
.td12{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 67px;vertical-align: bottom;}
.td13{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 68px;vertical-align: bottom;}
.td14{border-left: #000000 1px solid;border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 172px;vertical-align: bottom;}
.td15{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 37px;vertical-align: bottom;}
.td16{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 30px;vertical-align: bottom;}
.td17{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 31px;vertical-align: bottom;}
.td18{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 36px;vertical-align: bottom;}
.td19{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 51px;vertical-align: bottom;}

.tr0{height: 16px;}
.tr1{height: 19px;}
.tr2{height: 14px;}
.tr3{height: 5px;}
.tr4{height: 12px;}
.tr5{height: 3px;}
.tr6{height: 9px;}
.tr7{height: 22px;}
.tr8{height: 2px;}
.tr9{height: 20px;}
.tr10{height: 15px;}
.tr11{height: 21px;}
.tr12{height: 6px;}
.tr13{height: 13px;}
.tr14{height: 10px;}

.t0{width: 778px;margin-top: 11px;font: 13px 'Times';}

</STYLE>
</HEAD>

<BODY>
<DIV id="page_1">


<P class="p0 ft0">Tournament of <NOBR>Champions-LD</NOBR> <NOBR>--</NOBR> Lincoln Douglas</P>
<P class="p1 ft1">University of Kentucky</P>
<P class="p2 ft1">April <NOBR>28-30,</NOBR> 2012</P>
<TABLE cellpadding=0 cellspacing=0 class="t0">
<TR>
	<TD class="tr0 td0"><P class="p3 ft2">&nbsp;</P></TD>
	<TD colspan=2 class="tr0 td1"><P class="p4 ft3">RD 1</P></TD>
	<TD colspan=2 class="tr0 td2"><P class="p4 ft3">RD 2</P></TD>
	<TD colspan=2 class="tr0 td1"><P class="p4 ft3">RD 3</P></TD>
	<TD colspan=2 class="tr0 td2"><P class="p4 ft3">RD 4</P></TD>
	<TD colspan=2 class="tr0 td2"><P class="p4 ft3">RD 5</P></TD>
	<TD colspan=2 class="tr0 td1"><P class="p5 ft3">RD 6</P></TD>
	<TD colspan=2 class="tr0 td2"><P class="p4 ft3">RD 7</P></TD>
	<TD class="tr0 td3"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr0 td4"><P class="p3 ft2">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr1 td5"><P class="p6 ft3">Aliso Niguel RG</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft3">W</P></TD>
	<TD rowspan=2 class="tr1 td7"><P class="p3 ft3">AFF</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft3">W</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft3">Neg</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft3">W</P></TD>
	<TD rowspan=2 class="tr1 td7"><P class="p3 ft3">Neg</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft3">W</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft3">AFF</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft3">L</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft3">AFF</P></TD>
	<TD rowspan=2 class="tr1 td9"><P class="p5 ft3">W</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft3">Neg</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft3">W</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft3">Neg</P></TD>
	<TD rowspan=2 class="tr1 td10"><P class="p7 ft4"><NOBR>6-1</NOBR></P></TD>
	<TD class="tr2 td11"><P class="p8 ft5">145.00</P></TD>
</TR>
<TR>
	<TD class="tr3 td11"><P class="p3 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td5"><P class="p9 ft7">Aliso Niguel</P></TD>
	<TD colspan=2 class="tr2 td12"><P class="p4 ft8">STYVSTGW</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">ScarHSGR</P></TD>
	<TD colspan=2 class="tr2 td12"><P class="p4 ft9">TMS EH</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">UnivScJT</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">LBlakeTC</P></TD>
	<TD colspan=2 class="tr2 td12"><P class="p5 ft9">TMS RF</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">Walt WSF</P></TD>
	<TD class="tr2 td10"><P class="p3 ft10">&nbsp;</P></TD>
	<TD class="tr2 td11"><P class="p8 ft9">203.00</P></TD>
</TR>
<TR>
	<TD class="tr4 td5"><P class="p3 ft11">&nbsp;</P></TD>
	<TD colspan=2 class="tr4 td12"><P class="p4 ft12">Pearce, Ju</P></TD>
	<TD colspan=2 class="tr4 td13"><P class="p4 ft12">Wilder, Br</P></TD>
	<TD colspan=2 class="tr4 td12"><P class="p4 ft12">Catterton,</P></TD>
	<TD colspan=2 class="tr4 td13"><P class="p4 ft12">Holguin, B</P></TD>
	<TD colspan=2 class="tr4 td13"><P class="p4 ft12">Daks, Dani</P></TD>
	<TD colspan=2 class="tr4 td12"><P class="p5 ft12">Donovan, P</P></TD>
	<TD colspan=2 class="tr4 td13"><P class="p4 ft12">Kramer, Al</P></TD>
	<TD class="tr4 td10"><P class="p10 ft13">4th Seed</P></TD>
	<TD class="tr4 td11"><P class="p3 ft11">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr1 td5"><P class="p9 ft3">Regan Grishaber</P></TD>
	<TD class="tr1 td6"><P class="p4 ft3">29</P></TD>
	<TD class="tr1 td7"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p4 ft3">28.5</P></TD>
	<TD class="tr1 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p4 ft3">28</P></TD>
	<TD class="tr1 td7"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p4 ft3">29.5</P></TD>
	<TD class="tr1 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p4 ft3">29</P></TD>
	<TD class="tr1 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr1 td9"><P class="p5 ft3">30</P></TD>
	<TD class="tr1 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p4 ft3">29</P></TD>
	<TD class="tr1 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr1 td10"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr1 td11"><P class="p3 ft2">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr5 td14"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td16"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td16"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td18"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td3"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td19"><P class="p3 ft14">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr1 td5"><P class="p6 ft3">Apple Valley LS</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft3">L</P></TD>
	<TD rowspan=2 class="tr1 td7"><P class="p3 ft3">Neg</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft3">W</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft3">AFF</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft3">L</P></TD>
	<TD rowspan=2 class="tr1 td7"><P class="p3 ft3">Neg</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft3">L</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft3">AFF</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft3">W</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft3">Neg</P></TD>
	<TD rowspan=2 class="tr1 td9"><P class="p5 ft3">L</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft3">AFF</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft3">L</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft3">AFF</P></TD>
	<TD rowspan=2 class="tr1 td10"><P class="p7 ft4"><NOBR>2-5</NOBR></P></TD>
	<TD class="tr2 td11"><P class="p8 ft13">140.00</P></TD>
</TR>
<TR>
	<TD class="tr3 td11"><P class="p3 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td5"><P class="p9 ft7">Apple Valley</P></TD>
	<TD colspan=2 class="tr2 td12"><P class="p4 ft9">HarrisDD</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">SMHS JN</P></TD>
	<TD colspan=2 class="tr2 td12"><P class="p4 ft9">PV PenDT</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">SJCP JH</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">Hocka CC</P></TD>
	<TD colspan=2 class="tr2 td12"><P class="p5 ft9">SJCP CS</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">Lex JC</P></TD>
	<TD class="tr2 td10"><P class="p3 ft10">&nbsp;</P></TD>
	<TD class="tr2 td11"><P class="p8 ft9">196.00</P></TD>
</TR>
<TR>
	<TD class="tr6 td5"><P class="p3 ft15">&nbsp;</P></TD>
	<TD colspan=2 class="tr6 td12"><P class="p4 ft16">Melin, Jen</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Scher, Dyl</P></TD>
	<TD colspan=2 class="tr6 td12"><P class="p4 ft16">Smith, Tra</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Parker, Ar</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Gooderham,</P></TD>
	<TD colspan=2 class="tr6 td12"><P class="p5 ft16">Daks, Dani</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Gans, Jeff</P></TD>
	<TD class="tr6 td10"><P class="p3 ft15">&nbsp;</P></TD>
	<TD class="tr6 td11"><P class="p3 ft15">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr7 td5"><P class="p9 ft3">Luke Stuttgen</P></TD>
	<TD class="tr7 td6"><P class="p4 ft3">27</P></TD>
	<TD class="tr7 td7"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft3">28</P></TD>
	<TD class="tr7 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft3">27.5</P></TD>
	<TD class="tr7 td7"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft3">28</P></TD>
	<TD class="tr7 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft3">28.5</P></TD>
	<TD class="tr7 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td9"><P class="p5 ft3">28</P></TD>
	<TD class="tr7 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft3">29</P></TD>
	<TD class="tr7 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td10"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td11"><P class="p3 ft2">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr8 td14"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td16"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td16"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td18"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td3"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td19"><P class="p3 ft17">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr9 td5"><P class="p6 ft3">Bainbridge AT</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft3">L</P></TD>
	<TD rowspan=2 class="tr9 td7"><P class="p3 ft3">Neg</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft3">W</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft3">AFF</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft3">L</P></TD>
	<TD rowspan=2 class="tr9 td7"><P class="p3 ft3">AFF</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft3">W</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft3">Neg</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft3">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft3">AFF</P></TD>
	<TD rowspan=2 class="tr9 td9"><P class="p5 ft3">W</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft3">Neg</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft3">W</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft3">Neg</P></TD>
	<TD rowspan=2 class="tr9 td10"><P class="p7 ft18"><NOBR>4-3</NOBR></P></TD>
	<TD class="tr10 td11"><P class="p8 ft5">141.60</P></TD>
</TR>
<TR>
	<TD class="tr3 td11"><P class="p3 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td5"><P class="p9 ft7">Bainbridge</P></TD>
	<TD colspan=2 class="tr2 td12"><P class="p4 ft9">LBlakeTC</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">BrntwdKA</P></TD>
	<TD colspan=2 class="tr2 td12"><P class="p4 ft9">KDHS SM</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">CPS PM</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">CESJDSEL</P></TD>
	<TD colspan=2 class="tr2 td12"><P class="p5 ft9">CyFallBH</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">NorthlRD</P></TD>
	<TD class="tr2 td10"><P class="p3 ft10">&nbsp;</P></TD>
	<TD class="tr2 td11"><P class="p8 ft9">197.90</P></TD>
</TR>
<TR>
	<TD class="tr6 td5"><P class="p3 ft15">&nbsp;</P></TD>
	<TD colspan=2 class="tr6 td12"><P class="p4 ft16">Adler, Ste</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Scoggin, J</P></TD>
	<TD colspan=2 class="tr6 td12"><P class="p4 ft16">Tarsney, C</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Zhou, Jaso</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Moerner, D</P></TD>
	<TD colspan=2 class="tr6 td12"><P class="p5 ft16">Mandhania,</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Imas, Dani</P></TD>
	<TD class="tr6 td10"><P class="p3 ft15">&nbsp;</P></TD>
	<TD class="tr6 td11"><P class="p3 ft15">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr7 td5"><P class="p9 ft3">Alex Teiche</P></TD>
	<TD class="tr7 td6"><P class="p4 ft3">27.3</P></TD>
	<TD class="tr7 td7"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft3">28.5</P></TD>
	<TD class="tr7 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft3">28.5</P></TD>
	<TD class="tr7 td7"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft3">28.6</P></TD>
	<TD class="tr7 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft3">29</P></TD>
	<TD class="tr7 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td9"><P class="p5 ft3">28.5</P></TD>
	<TD class="tr7 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft3">27.5</P></TD>
	<TD class="tr7 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td10"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td11"><P class="p3 ft2">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr8 td14"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td16"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td16"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td18"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td3"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td19"><P class="p3 ft17">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr9 td5"><P class="p6 ft3">Bainbridge HBE</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft3">L</P></TD>
	<TD rowspan=2 class="tr9 td7"><P class="p3 ft3">Neg</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft3">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft3">AFF</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft3">L</P></TD>
	<TD rowspan=2 class="tr9 td7"><P class="p3 ft3">Neg</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft3">W</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft3">AFF</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft3">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft3">Neg</P></TD>
	<TD rowspan=2 class="tr9 td9"><P class="p5 ft3">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft3">AFF</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft3">W</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft3">AFF</P></TD>
	<TD rowspan=2 class="tr9 td10"><P class="p7 ft18"><NOBR>2-5</NOBR></P></TD>
	<TD class="tr10 td11"><P class="p8 ft5">138.50</P></TD>
</TR>
<TR>
	<TD class="tr3 td11"><P class="p3 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td5"><P class="p9 ft7">Bainbridge</P></TD>
	<TD colspan=2 class="tr2 td12"><P class="p4 ft9">LoyolaAB</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">GHS FD</P></TD>
	<TD colspan=2 class="tr2 td12"><P class="p4 ft9">Walt WJL</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">BrntwdJS</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">SMHS JN</P></TD>
	<TD colspan=2 class="tr2 td12"><P class="p5 ft9">KDHS AW</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">HarvarBG</P></TD>
	<TD class="tr2 td10"><P class="p3 ft10">&nbsp;</P></TD>
	<TD class="tr2 td11"><P class="p8 ft9">194.20</P></TD>
</TR>
<TR>
	<TD class="tr6 td5"><P class="p3 ft15">&nbsp;</P></TD>
	<TD colspan=2 class="tr6 td12"><P class="p4 ft16">Zhou, Jaso</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Vincent, C</P></TD>
	<TD colspan=2 class="tr6 td12"><P class="p4 ft16">Zhang, Ale</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Mandhania,</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Jennis, Da</P></TD>
	<TD colspan=2 class="tr6 td12"><P class="p5 ft16">Cockroft,</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Smith, Tra</P></TD>
	<TD class="tr6 td10"><P class="p3 ft15">&nbsp;</P></TD>
	<TD class="tr6 td11"><P class="p3 ft15">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr11 td5"><P class="p9 ft3">Haley <NOBR>Brandt-Erichsen</NOBR></P></TD>
	<TD class="tr11 td6"><P class="p4 ft3">28.7</P></TD>
	<TD class="tr11 td7"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr11 td6"><P class="p4 ft3">27</P></TD>
	<TD class="tr11 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr11 td6"><P class="p4 ft3">28</P></TD>
	<TD class="tr11 td7"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr11 td6"><P class="p4 ft3">27.5</P></TD>
	<TD class="tr11 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr11 td6"><P class="p4 ft3">27</P></TD>
	<TD class="tr11 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr11 td9"><P class="p5 ft3">28</P></TD>
	<TD class="tr11 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr11 td6"><P class="p4 ft3">28</P></TD>
	<TD class="tr11 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr11 td10"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr11 td11"><P class="p3 ft2">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr5 td14"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td16"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td16"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td18"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td3"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td19"><P class="p3 ft14">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr9 td5"><P class="p6 ft3">Benjamin Franklin WM</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft3">L</P></TD>
	<TD rowspan=2 class="tr9 td7"><P class="p3 ft3">Neg</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft3">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft3">AFF</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft3">W</P></TD>
	<TD rowspan=2 class="tr9 td7"><P class="p3 ft3">Bye</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft3">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft3">AFF</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft3">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft3">Neg</P></TD>
	<TD rowspan=2 class="tr9 td9"><P class="p5 ft3">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft3">AFF</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft3">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft3">AFF</P></TD>
	<TD rowspan=2 class="tr9 td10"><P class="p7 ft18"><NOBR>1-6</NOBR></P></TD>
	<TD class="tr2 td11"><P class="p8 ft5">136.68</P></TD>
</TR>
<TR>
	<TD class="tr12 td11"><P class="p3 ft19">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr13 td5"><P class="p9 ft20">Benjamin Franklin</P></TD>
	<TD colspan=2 class="tr13 td12"><P class="p4 ft5">TMS EH</P></TD>
	<TD colspan=2 class="tr13 td13"><P class="p4 ft5">SJCP JD</P></TD>
	<TD class="tr13 td6"><P class="p3 ft21">&nbsp;</P></TD>
	<TD class="tr13 td7"><P class="p3 ft21">&nbsp;</P></TD>
	<TD colspan=2 class="tr13 td13"><P class="p4 ft5">Walt WSF</P></TD>
	<TD colspan=2 class="tr13 td13"><P class="p4 ft5">LoyolaMH</P></TD>
	<TD colspan=2 class="tr13 td12"><P class="p5 ft5">Hocka CC</P></TD>
	<TD colspan=2 class="tr13 td13"><P class="p4 ft5">CPS PM</P></TD>
	<TD class="tr13 td10"><P class="p3 ft21">&nbsp;</P></TD>
	<TD class="tr13 td11"><P class="p8 ft5">191.68</P></TD>
</TR>
<TR>
	<TD class="tr14 td5"><P class="p3 ft22">&nbsp;</P></TD>
	<TD colspan=2 class="tr14 td12"><P class="p4 ft16">Pielstick,</P></TD>
	<TD colspan=2 class="tr14 td13"><P class="p4 ft16">Rowston, B</P></TD>
	<TD class="tr14 td6"><P class="p3 ft22">&nbsp;</P></TD>
	<TD class="tr14 td7"><P class="p3 ft22">&nbsp;</P></TD>
	<TD colspan=2 class="tr14 td13"><P class="p4 ft16">Hassin, Mi</P></TD>
	<TD colspan=2 class="tr14 td13"><P class="p4 ft16">Tarsney, C</P></TD>
	<TD colspan=2 class="tr14 td12"><P class="p5 ft16">Norris, Ta</P></TD>
	<TD colspan=2 class="tr14 td13"><P class="p4 ft16">Melin, Jen</P></TD>
	<TD class="tr14 td10"><P class="p3 ft22">&nbsp;</P></TD>
	<TD class="tr14 td11"><P class="p3 ft22">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr11 td5"><P class="p9 ft3">William Mcgrew</P></TD>
	<TD class="tr11 td6"><P class="p4 ft3">27.8</P></TD>
	<TD class="tr11 td7"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr11 td6"><P class="p4 ft3">26</P></TD>
	<TD class="tr11 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr11 td6"><P class="p4 ft3">27.4</P></TD>
	<TD class="tr11 td7"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr11 td6"><P class="p4 ft3">27.5</P></TD>
	<TD class="tr11 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr11 td6"><P class="p4 ft3">29</P></TD>
	<TD class="tr11 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr11 td9"><P class="p5 ft3">27</P></TD>
	<TD class="tr11 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr11 td6"><P class="p4 ft3">27</P></TD>
	<TD class="tr11 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr11 td10"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr11 td11"><P class="p3 ft2">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr5 td14"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td16"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td16"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td18"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td3"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td19"><P class="p3 ft14">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr9 td5"><P class="p6 ft3">Brentwood AG</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft3">L</P></TD>
	<TD rowspan=2 class="tr9 td7"><P class="p3 ft3">AFF</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft3">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft3">Neg</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft3">L</P></TD>
	<TD rowspan=2 class="tr9 td7"><P class="p3 ft3">Neg</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft3">W</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft3">Bye</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft3">W</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft3">AFF</P></TD>
	<TD rowspan=2 class="tr9 td9"><P class="p5 ft3">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft3">Neg</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft3">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft3">AFF</P></TD>
	<TD rowspan=2 class="tr9 td10"><P class="p7 ft18"><NOBR>2-5</NOBR></P></TD>
	<TD class="tr2 td11"><P class="p8 ft5">137.63</P></TD>
</TR>
<TR>
	<TD class="tr12 td11"><P class="p3 ft19">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr13 td5"><P class="p9 ft20">Brentwood</P></TD>
	<TD colspan=2 class="tr13 td12"><P class="p4 ft5">Paly TC</P></TD>
	<TD colspan=2 class="tr13 td13"><P class="p4 ft5">LHPS TL</P></TD>
	<TD colspan=2 class="tr13 td12"><P class="p4 ft5">Walt WSF</P></TD>
	<TD class="tr13 td6"><P class="p3 ft21">&nbsp;</P></TD>
	<TD class="tr13 td8"><P class="p3 ft21">&nbsp;</P></TD>
	<TD colspan=2 class="tr13 td13"><P class="p4 ft5">BHHS SC</P></TD>
	<TD colspan=2 class="tr13 td12"><P class="p5 ft5">KDHS SM</P></TD>
	<TD colspan=2 class="tr13 td13"><P class="p4 ft5">Walt WJL</P></TD>
	<TD class="tr13 td10"><P class="p3 ft21">&nbsp;</P></TD>
	<TD class="tr13 td11"><P class="p8 ft5">193.43</P></TD>
</TR>
<TR>
	<TD class="tr6 td5"><P class="p3 ft15">&nbsp;</P></TD>
	<TD class="tr6 td6"><P class="p4 ft16">Castillo,</P></TD>
	<TD class="tr6 td7"><P class="p3 ft15">&nbsp;</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Pearce, Ju</P></TD>
	<TD colspan=2 class="tr6 td12"><P class="p4 ft16">Zhang, Ale</P></TD>
	<TD class="tr6 td6"><P class="p3 ft15">&nbsp;</P></TD>
	<TD class="tr6 td8"><P class="p3 ft15">&nbsp;</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Gooderham,</P></TD>
	<TD colspan=2 class="tr6 td12"><P class="p5 ft16">Adler, Ste</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Smith, Tra</P></TD>
	<TD class="tr6 td10"><P class="p3 ft15">&nbsp;</P></TD>
	<TD class="tr6 td11"><P class="p3 ft15">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr7 td5"><P class="p9 ft3">Andrew Glantz</P></TD>
	<TD class="tr7 td6"><P class="p4 ft3">27</P></TD>
	<TD class="tr7 td7"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft3">27.5</P></TD>
	<TD class="tr7 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft3">27</P></TD>
	<TD class="tr7 td7"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft3">27.6</P></TD>
	<TD class="tr7 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft3">27.5</P></TD>
	<TD class="tr7 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td9"><P class="p5 ft3">28.8</P></TD>
	<TD class="tr7 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft3">28</P></TD>
	<TD class="tr7 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td10"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td11"><P class="p3 ft2">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr5 td14"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td16"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td16"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td18"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td3"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td19"><P class="p3 ft14">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr1 td5"><P class="p6 ft3">Brentwood JS</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft3">L</P></TD>
	<TD rowspan=2 class="tr1 td7"><P class="p3 ft3">Neg</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft3">L</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft3">AFF</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft3">L</P></TD>
	<TD rowspan=2 class="tr1 td7"><P class="p3 ft3">AFF</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft3">L</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft3">Neg</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft3">W</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft3">Bye</P></TD>
	<TD rowspan=2 class="tr1 td9"><P class="p5 ft3">L</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft3">AFF</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft3">L</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft3">Neg</P></TD>
	<TD rowspan=2 class="tr1 td10"><P class="p7 ft4"><NOBR>1-6</NOBR></P></TD>
	<TD class="tr2 td11"><P class="p8 ft5">138.11</P></TD>
</TR>
<TR>
	<TD class="tr3 td11"><P class="p3 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td5"><P class="p9 ft7">Brentwood</P></TD>
	<TD colspan=2 class="tr2 td12"><P class="p4 ft9">Lex PZ</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">ScoastCB</P></TD>
	<TD colspan=2 class="tr2 td12"><P class="p4 ft9">HarvarBG</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">BaHS HB</P></TD>
	<TD class="tr2 td6"><P class="p3 ft10">&nbsp;</P></TD>
	<TD class="tr2 td8"><P class="p3 ft10">&nbsp;</P></TD>
	<TD colspan=2 class="tr2 td12"><P class="p5 ft9">LHPS TL</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">LoyolaTP</P></TD>
	<TD class="tr2 td10"><P class="p3 ft10">&nbsp;</P></TD>
	<TD class="tr2 td11"><P class="p8 ft9">193.31</P></TD>
</TR>
<TR>
	<TD class="tr6 td5"><P class="p3 ft15">&nbsp;</P></TD>
	<TD colspan=2 class="tr6 td12"><P class="p4 ft16">Massey, Jo</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Wilson, Ma</P></TD>
	<TD colspan=2 class="tr6 td12"><P class="p4 ft16">Scoggin, L</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Mandhania,</P></TD>
	<TD class="tr6 td6"><P class="p3 ft15">&nbsp;</P></TD>
	<TD class="tr6 td8"><P class="p3 ft15">&nbsp;</P></TD>
	<TD class="tr6 td9"><P class="p5 ft16">Castillo,</P></TD>
	<TD class="tr6 td8"><P class="p3 ft15">&nbsp;</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Lamothe, J</P></TD>
	<TD class="tr6 td10"><P class="p3 ft15">&nbsp;</P></TD>
	<TD class="tr6 td11"><P class="p3 ft15">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr7 td5"><P class="p9 ft3">John Soneff</P></TD>
	<TD class="tr7 td6"><P class="p4 ft3">28</P></TD>
	<TD class="tr7 td7"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft3">28.2</P></TD>
	<TD class="tr7 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft3">27</P></TD>
	<TD class="tr7 td7"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft3">27</P></TD>
	<TD class="tr7 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft3">27.6</P></TD>
	<TD class="tr7 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td9"><P class="p5 ft3">27.5</P></TD>
	<TD class="tr7 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft3">28</P></TD>
	<TD class="tr7 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td10"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td11"><P class="p3 ft2">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr5 td14"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td16"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td16"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td18"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td3"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td19"><P class="p3 ft14">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr1 td5"><P class="p6 ft3">Brentwood KA</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft3">W</P></TD>
	<TD rowspan=2 class="tr1 td7"><P class="p3 ft3">AFF</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft3">L</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft3">Neg</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft3">W</P></TD>
	<TD rowspan=2 class="tr1 td7"><P class="p3 ft3">Neg</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft3">L</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft3">AFF</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft3">W</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft3">Neg</P></TD>
	<TD rowspan=2 class="tr1 td9"><P class="p5 ft3">L</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft3">AFF</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft3">W</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft3">AFF</P></TD>
	<TD rowspan=2 class="tr1 td10"><P class="p7 ft4"><NOBR>4-3</NOBR></P></TD>
	<TD class="tr2 td11"><P class="p8 ft5">142.00</P></TD>
</TR>
<TR>
	<TD class="tr3 td11"><P class="p3 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td5"><P class="p9 ft7">Brentwood</P></TD>
	<TD colspan=2 class="tr2 td12"><P class="p4 ft9">NorthlRD</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">BaHS AT</P></TD>
	<TD colspan=2 class="tr2 td12"><P class="p4 ft9">STYVSTAE</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">GHS RK</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">NOJ JH</P></TD>
	<TD colspan=2 class="tr2 td12"><P class="p5 ft9">TMS EH</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">Carpe JM</P></TD>
	<TD class="tr2 td10"><P class="p3 ft10">&nbsp;</P></TD>
	<TD class="tr2 td11"><P class="p8 ft9">199.50</P></TD>
</TR>
<TR>
	<TD class="tr6 td5"><P class="p3 ft15">&nbsp;</P></TD>
	<TD colspan=2 class="tr6 td12"><P class="p4 ft16">Lamothe, J</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Scoggin, J</P></TD>
	<TD colspan=2 class="tr6 td12"><P class="p4 ft16">Scoggin, L</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Hertzig, C</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Mandhania,</P></TD>
	<TD colspan=2 class="tr6 td12"><P class="p5 ft16">Pearce, Ju</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Jennis, Da</P></TD>
	<TD class="tr6 td10"><P class="p3 ft15">&nbsp;</P></TD>
	<TD class="tr6 td11"><P class="p3 ft15">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr7 td5"><P class="p9 ft3">Kyle <NOBR>Allen-Niesen</NOBR></P></TD>
	<TD class="tr7 td6"><P class="p4 ft3">28.5</P></TD>
	<TD class="tr7 td7"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft3">28</P></TD>
	<TD class="tr7 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft3">28</P></TD>
	<TD class="tr7 td7"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft3">28.5</P></TD>
	<TD class="tr7 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft3">28.5</P></TD>
	<TD class="tr7 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td9"><P class="p5 ft3">29.5</P></TD>
	<TD class="tr7 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft3">28.5</P></TD>
	<TD class="tr7 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td10"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td11"><P class="p3 ft2">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr8 td14"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td16"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td16"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td18"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td3"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td19"><P class="p3 ft17">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr9 td5"><P class="p6 ft3">Bronx Science SS</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft3">L</P></TD>
	<TD rowspan=2 class="tr9 td7"><P class="p3 ft3">Neg</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft3">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft3">AFF</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft3">L</P></TD>
	<TD rowspan=2 class="tr9 td7"><P class="p3 ft3">Neg</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft3">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft3">AFF</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft3">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft3">Neg</P></TD>
	<TD rowspan=2 class="tr9 td9"><P class="p5 ft3">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft3">AFF</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft3">W</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft3">Bye</P></TD>
	<TD rowspan=2 class="tr9 td10"><P class="p7 ft18"><NOBR>1-6</NOBR></P></TD>
	<TD class="tr10 td11"><P class="p8 ft5">138.89</P></TD>
</TR>
<TR>
	<TD class="tr3 td11"><P class="p3 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td5"><P class="p9 ft7">Bronx Science</P></TD>
	<TD colspan=2 class="tr2 td12"><P class="p4 ft9">ScarHAD</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">SJCP CS</P></TD>
	<TD colspan=2 class="tr2 td12"><P class="p4 ft9">LextonAH</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">KHS TF</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">KDHS AW</P></TD>
	<TD colspan=2 class="tr2 td12"><P class="p5 ft9">WHS CS</P></TD>
	<TD class="tr2 td6"><P class="p3 ft10">&nbsp;</P></TD>
	<TD class="tr2 td8"><P class="p3 ft10">&nbsp;</P></TD>
	<TD class="tr2 td10"><P class="p3 ft10">&nbsp;</P></TD>
	<TD class="tr2 td11"><P class="p8 ft9">193.89</P></TD>
</TR>
<TR>
	<TD class="tr6 td5"><P class="p3 ft15">&nbsp;</P></TD>
	<TD colspan=2 class="tr6 td12"><P class="p4 ft16">Jennis, Da</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Anderson,</P></TD>
	<TD class="tr6 td6"><P class="p4 ft16">Phillips,</P></TD>
	<TD class="tr6 td7"><P class="p3 ft15">&nbsp;</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Evnen, Tom</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Chy, Charl</P></TD>
	<TD colspan=2 class="tr6 td12"><P class="p5 ft16">Theis, Chr</P></TD>
	<TD class="tr6 td6"><P class="p3 ft15">&nbsp;</P></TD>
	<TD class="tr6 td8"><P class="p3 ft15">&nbsp;</P></TD>
	<TD class="tr6 td10"><P class="p3 ft15">&nbsp;</P></TD>
	<TD class="tr6 td11"><P class="p3 ft15">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr7 td5"><P class="p9 ft3">Shai Szulanski</P></TD>
	<TD class="tr7 td6"><P class="p4 ft3">28</P></TD>
	<TD class="tr7 td7"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft3">27</P></TD>
	<TD class="tr7 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft3">28.2</P></TD>
	<TD class="tr7 td7"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft3">28</P></TD>
	<TD class="tr7 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft3">29</P></TD>
	<TD class="tr7 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td9"><P class="p5 ft3">26</P></TD>
	<TD class="tr7 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft3">27.7</P></TD>
	<TD class="tr7 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td10"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr7 td11"><P class="p3 ft2">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr8 td14"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td16"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td16"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td18"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td3"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td19"><P class="p3 ft17">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr9 td5"><P class="p6 ft3">Byram Hills SC</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft3">W</P></TD>
	<TD rowspan=2 class="tr9 td7"><P class="p3 ft3">Neg</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft3">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft3">AFF</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft3">L</P></TD>
	<TD rowspan=2 class="tr9 td7"><P class="p3 ft3">Neg</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft3">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft3">AFF</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft3">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft3">Neg</P></TD>
	<TD rowspan=2 class="tr9 td9"><P class="p5 ft3">W</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft3">AFF</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft3">W</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft3">AFF</P></TD>
	<TD rowspan=2 class="tr9 td10"><P class="p7 ft18"><NOBR>3-4</NOBR></P></TD>
	<TD class="tr10 td11"><P class="p8 ft5">144.20</P></TD>
</TR>
<TR>
	<TD class="tr3 td11"><P class="p3 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td5"><P class="p9 ft7">Byram Hills</P></TD>
	<TD colspan=2 class="tr2 td12"><P class="p4 ft9">Hocka MC</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">DullesAK</P></TD>
	<TD colspan=2 class="tr2 td12"><P class="p4 ft9">FloMo CH</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">WDMV MN</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">BrntwdAG</P></TD>
	<TD colspan=2 class="tr2 td12"><P class="p5 ft9">MBHS AC</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">WHS CS</P></TD>
	<TD class="tr2 td10"><P class="p3 ft10">&nbsp;</P></TD>
	<TD class="tr2 td11"><P class="p8 ft9">201.20</P></TD>
</TR>
<TR>
	<TD class="tr6 td5"><P class="p3 ft15">&nbsp;</P></TD>
	<TD colspan=2 class="tr6 td12"><P class="p4 ft16">Niemi, Reb</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Pielstick,</P></TD>
	<TD colspan=2 class="tr6 td12"><P class="p4 ft16">Palmer, Ch</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Sigalow, M</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Gooderham,</P></TD>
	<TD colspan=2 class="tr6 td12"><P class="p5 ft16">Daks, Dani</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Stewart, C</P></TD>
	<TD class="tr6 td10"><P class="p3 ft15">&nbsp;</P></TD>
	<TD class="tr6 td11"><P class="p3 ft15">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr11 td5"><P class="p9 ft3">Sammi Cannold</P></TD>
	<TD class="tr11 td6"><P class="p4 ft3">29</P></TD>
	<TD class="tr11 td7"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr11 td6"><P class="p4 ft3">28.2</P></TD>
	<TD class="tr11 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr11 td6"><P class="p4 ft3">30</P></TD>
	<TD class="tr11 td7"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr11 td6"><P class="p4 ft3">28.5</P></TD>
	<TD class="tr11 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr11 td6"><P class="p4 ft3">29</P></TD>
	<TD class="tr11 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr11 td9"><P class="p5 ft3">27</P></TD>
	<TD class="tr11 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr11 td6"><P class="p4 ft3">29.5</P></TD>
	<TD class="tr11 td8"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr11 td10"><P class="p3 ft2">&nbsp;</P></TD>
	<TD class="tr11 td11"><P class="p3 ft2">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr5 td14"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td16"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td16"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td18"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td3"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td19"><P class="p3 ft14">&nbsp;</P></TD>
</TR>
</TABLE>
</DIV>
</BODY>
</HTML>
