<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META http-equiv="X-UA-Compatible" content="IE=8">
<TITLE>Created by BCL easyConverter SDK 3 (HTML Version)</TITLE>
<META name="generator" content="BCL easyConverter SDK 3.0.60">
<STYLE type="text/css">

body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 36px 0px 328px 20px;padding: 0px;border: none;width: 773px;}





.ft0{font: bold 32px 'Times';line-height: 36px;}
.ft1{font: bold 24px 'Times';line-height: 26px;}
.ft2{font: bold 19px 'Times';line-height: 22px;}
.ft3{font: bold 12px 'Times';line-height: 13px;}
.ft4{font: bold 12px 'Times';line-height: 14px;}
.ft5{font: bold 10px 'Times';line-height: 12px;}
.ft6{font: bold 11px 'Times';line-height: 13px;}
.ft7{font: bold 12px 'Times';line-height: 15px;}

.p0{text-align: left;padding-left: 230px;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: left;padding-left: 189px;margin-top: 0px;margin-bottom: 0px;}
.p2{text-align: left;padding-left: 277px;margin-top: 1px;margin-bottom: 0px;}
.p3{text-align: left;padding-left: 222px;margin-top: 24px;margin-bottom: 0px;}
.p4{text-align: left;margin-top: 35px;margin-bottom: 0px;}
.p5{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p6{text-align: right;padding-right: 4px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p7{text-align: left;padding-left: 4px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p8{text-align: left;margin-top: 12px;margin-bottom: 0px;}
.p9{text-align: left;padding-left: 20px;margin-top: 0px;margin-bottom: 0px;}

.td0{padding: 0px;margin: 0px;width: 361px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 55px;vertical-align: bottom;}
.td2{padding: 0px;margin: 0px;width: 115px;vertical-align: bottom;}
.td3{padding: 0px;margin: 0px;width: 111px;vertical-align: bottom;}
.td4{padding: 0px;margin: 0px;width: 96px;vertical-align: bottom;}
.td5{padding: 0px;margin: 0px;width: 362px;vertical-align: bottom;}
.td6{padding: 0px;margin: 0px;width: 54px;vertical-align: bottom;}
.td7{padding: 0px;margin: 0px;width: 93px;vertical-align: bottom;}
.td8{padding: 0px;margin: 0px;width: 339px;vertical-align: bottom;}
.td9{padding: 0px;margin: 0px;width: 77px;vertical-align: bottom;}
.td10{padding: 0px;margin: 0px;width: 99px;vertical-align: bottom;}
.td11{padding: 0px;margin: 0px;width: 349px;vertical-align: bottom;}
.td12{padding: 0px;margin: 0px;width: 67px;vertical-align: bottom;}
.td13{padding: 0px;margin: 0px;width: 89px;vertical-align: bottom;}

.tr0{height: 13px;}
.tr1{height: 14px;}
.tr2{height: 15px;}

.t0{width: 738px;margin-left: 20px;font: bold 12px 'Times';}
.t1{width: 735px;margin-left: 20px;font: bold 12px 'Times';}
.t2{width: 741px;margin-left: 20px;font: bold 12px 'Times';}
.t3{width: 731px;margin-left: 20px;font: bold 12px 'Times';}

</STYLE>
</HEAD>

<BODY>
<DIV id="page_1">


<P class="p0 ft0">TFA State LD 2013</P>
<P class="p1 ft1">South Grand Prairie High School</P>
<P class="p2 ft1">March <NOBR>7-9,</NOBR> 2013</P>
<P class="p3 ft1">Elimination Round Results</P>
<P class="p4 ft2">Double Octafinal Round Results</P>
<TABLE cellpadding=0 cellspacing=0 class="t0">
<TR>
	<TD class="tr0 td0"><P class="p5 ft3">Greenhill RK (Aff) defeated Southlake Carroll DP</P></TD>
	<TD class="tr0 td1"><P class="p6 ft3"><NOBR>3-0</NOBR></P></TD>
	<TD class="tr0 td2"><P class="p7 ft3">Sims, John</P></TD>
	<TD class="tr0 td3"><P class="p5 ft3">Cavanaugh, Dylan</P></TD>
	<TD class="tr0 td4"><P class="p5 ft3">Yim, Anthony</P></TD>
</TR>
<TR>
	<TD class="tr1 td0"><P class="p5 ft4">Hockaday CN (Neg) defeated Stony Point ZZ</P></TD>
	<TD class="tr1 td1"><P class="p6 ft4"><NOBR>3-0</NOBR></P></TD>
	<TD class="tr1 td2"><P class="p7 ft4">Sims, John</P></TD>
	<TD class="tr1 td3"><P class="p5 ft4">Cavanaugh, Dylan</P></TD>
	<TD class="tr1 td4"><P class="p5 ft4">Donovan, Patrick</P></TD>
</TR>
<TR>
	<TD class="tr0 td0"><P class="p5 ft3">Pflugerville TH (Aff) defeated Dulles JW</P></TD>
	<TD class="tr0 td1"><P class="p6 ft3"><NOBR>3-0</NOBR></P></TD>
	<TD class="tr0 td2"><P class="p7 ft3">Sullivan, Tyler</P></TD>
	<TD class="tr0 td3"><P class="p5 ft3">Castillo, Chris</P></TD>
	<TD class="tr0 td4"><P class="p5 ft3">Schwartz, Joseph</P></TD>
</TR>
<TR>
	<TD class="tr1 td0"><P class="p5 ft4">Cypress Woods JD (Neg) defeated Kinkaid rp</P></TD>
	<TD class="tr1 td1"><P class="p6 ft4"><NOBR>3-0</NOBR></P></TD>
	<TD class="tr1 td2"><P class="p7 ft4">McCormick, Drew</P></TD>
	<TD class="tr1 td3"><P class="p5 ft4">Cook, Tyler</P></TD>
	<TD class="tr1 td4"><P class="p5 ft4">Gravley, Paul</P></TD>
</TR>
<TR>
	<TD class="tr1 td0"><P class="p5 ft4">Kinkaid jl (Neg) defeated Clements RG</P></TD>
	<TD class="tr1 td1"><P class="p6 ft4"><NOBR>3-0</NOBR></P></TD>
	<TD class="tr1 td2"><P class="p7 ft4">Graham, Ryan</P></TD>
	<TD class="tr1 td3"><P class="p5 ft4">Wright, Kris</P></TD>
	<TD class="tr1 td4"><P class="p5 ft4">Chan, Nicholas</P></TD>
</TR>
<TR>
	<TD class="tr0 td0"><P class="p5 ft3">Strake Jesuit College JD (Neg) defeated Cypress Falls HK</P></TD>
	<TD class="tr0 td1"><P class="p6 ft3"><NOBR>3-0</NOBR></P></TD>
	<TD class="tr0 td2"><P class="p7 ft3">Graham, Ryan</P></TD>
	<TD class="tr0 td3"><P class="p5 ft3">Wright, Kris</P></TD>
	<TD class="tr0 td4"><P class="p5 ft3">Fife, Travis</P></TD>
</TR>
<TR>
	<TD class="tr1 td0"><P class="p5 ft4">Flower Mound MG (Neg) defeated Cypress Woods XX</P></TD>
	<TD class="tr1 td1"><P class="p6 ft4"><NOBR>2-1</NOBR></P></TD>
	<TD class="tr1 td2"><P class="p7 ft4">Rowston, Barrett</P></TD>
	<TD class="tr1 td3"><P class="p5 ft4">Hamad, Sam</P></TD>
	<TD class="tr1 td4"><P class="p5 ft4">*Lumpee, Daniel</P></TD>
</TR>
<TR>
	<TD class="tr0 td0"><P class="p5 ft3">Northland Christian ML (Neg) defeated Greenhill BW</P></TD>
	<TD class="tr0 td1"><P class="p6 ft3"><NOBR>2-1</NOBR></P></TD>
	<TD class="tr0 td2"><P class="p7 ft3">Rowston, Barrett</P></TD>
	<TD class="tr0 td3"><P class="p5 ft3">Hamad, Sam</P></TD>
	<TD class="tr0 td4"><P class="p5 ft3">*Russell, Jo</P></TD>
</TR>
<TR>
	<TD class="tr1 td0"><P class="p5 ft4">Lamar Consolidated DH (Neg) defeated Hockaday CC</P></TD>
	<TD class="tr1 td1"><P class="p6 ft4"><NOBR>3-0</NOBR></P></TD>
	<TD class="tr1 td2"><P class="p7 ft4">Woods, Jared</P></TD>
	<TD class="tr1 td3"><P class="p5 ft4">Allen, Stephanie</P></TD>
	<TD class="tr1 td4"><P class="p5 ft4">Aguilar, Josh</P></TD>
</TR>
<TR>
	<TD class="tr1 td0"><P class="p5 ft4">Strake Jesuit College JA (Neg) defeated Lamar Consolidated JN</P></TD>
	<TD class="tr1 td1"><P class="p6 ft4"><NOBR>3-0</NOBR></P></TD>
	<TD class="tr1 td2"><P class="p7 ft4">Nunley, Courtney</P></TD>
	<TD class="tr1 td3"><P class="p5 ft4">Colling, Richard</P></TD>
	<TD class="tr1 td4"><P class="p5 ft4">Pittman, Apryl</P></TD>
</TR>
<TR>
	<TD class="tr0 td0"><P class="p5 ft3">Hockaday KQ (Aff) defeated <NOBR>Cy-Fair</NOBR> AP</P></TD>
	<TD class="tr0 td1"><P class="p6 ft3"><NOBR>2-1</NOBR></P></TD>
	<TD class="tr0 td2"><P class="p7 ft3">Berdugo, Erick</P></TD>
	<TD class="tr0 td3"><P class="p5 ft3">Boyd, Jane</P></TD>
	<TD class="tr0 td4"><P class="p5 ft5">*Auzenne, Murvin</P></TD>
</TR>
<TR>
	<TD class="tr1 td0"><P class="p5 ft4">Marcus DB (Aff) defeated Winston Churchill AW</P></TD>
	<TD class="tr1 td1"><P class="p6 ft4"><NOBR>2-1</NOBR></P></TD>
	<TD class="tr1 td2"><P class="p7 ft4">Boyer, Bekah</P></TD>
	<TD class="tr1 td3"><P class="p5 ft4">Hense, Ellen</P></TD>
	<TD class="tr1 td4"><P class="p5 ft4">*Olivarez, Matthe</P></TD>
</TR>
<TR>
	<TD class="tr0 td0"><P class="p5 ft3">Flower Mound JA (Aff) defeated Dulles AA</P></TD>
	<TD class="tr0 td1"><P class="p6 ft3"><NOBR>2-1</NOBR></P></TD>
	<TD class="tr0 td2"><P class="p7 ft3">Sullivan, Tyler</P></TD>
	<TD class="tr0 td3"><P class="p5 ft3">Castillo, Chris</P></TD>
	<TD class="tr0 td4"><P class="p5 ft6">*Schwartz, Joseph</P></TD>
</TR>
<TR>
	<TD class="tr1 td0"><P class="p5 ft4">Westlake MG (Neg) defeated Marcus MH</P></TD>
	<TD class="tr1 td1"><P class="p6 ft4"><NOBR>3-0</NOBR></P></TD>
	<TD class="tr1 td2"><P class="p7 ft4">Aguilar, Josh</P></TD>
	<TD class="tr1 td3"><P class="p5 ft4">Boyer, Bekah</P></TD>
	<TD class="tr1 td4"><P class="p5 ft4">Hense, Ellen</P></TD>
</TR>
<TR>
	<TD class="tr1 td0"><P class="p5 ft4">Westwood AG (Neg) defeated Cypress Woods GJ</P></TD>
	<TD class="tr1 td1"><P class="p6 ft4"><NOBR>3-0</NOBR></P></TD>
	<TD class="tr1 td2"><P class="p7 ft4">McCormick, Drew</P></TD>
	<TD class="tr1 td3"><P class="p5 ft4">Cook, Tyler</P></TD>
	<TD class="tr1 td4"><P class="p5 ft4">Gravley, Paul</P></TD>
</TR>
<TR>
	<TD class="tr2 td0"><P class="p5 ft7">Strake Jesuit College SS (Aff) defeated Northland Christian SH</P></TD>
	<TD class="tr2 td1"><P class="p6 ft7"><NOBR>3-0</NOBR></P></TD>
	<TD class="tr2 td2"><P class="p7 ft7">Yim, Anthony</P></TD>
	<TD class="tr2 td3"><P class="p5 ft7">Ho, Vivian</P></TD>
	<TD class="tr2 td4"><P class="p5 ft7">Kalla, Nicolas</P></TD>
</TR>
</TABLE>
<P class="p8 ft2">Octafinal Round Results</P>
<TABLE cellpadding=0 cellspacing=0 class="t1">
<TR>
	<TD class="tr0 td5"><P class="p5 ft3">Greenhill RK (Neg) defeated Strake Jesuit College SS</P></TD>
	<TD class="tr0 td6"><P class="p6 ft3"><NOBR>3-0</NOBR></P></TD>
	<TD class="tr0 td2"><P class="p7 ft3">Sims, John</P></TD>
	<TD class="tr0 td3"><P class="p5 ft3">Yim, Anthony</P></TD>
	<TD class="tr0 td7"><P class="p5 ft3">Ho, Vivian</P></TD>
</TR>
<TR>
	<TD class="tr0 td5"><P class="p5 ft3">Hockaday CN (Neg) defeated Westwood AG</P></TD>
	<TD class="tr0 td6"><P class="p6 ft3"><NOBR>2-1</NOBR></P></TD>
	<TD class="tr0 td2"><P class="p7 ft3">Hamad, Sam</P></TD>
	<TD class="tr0 td3"><P class="p5 ft3">Donovan, Patrick</P></TD>
	<TD class="tr0 td7"><P class="p5 ft3">*Castillo, Chris</P></TD>
</TR>
<TR>
	<TD class="tr1 td5"><P class="p5 ft4">Pflugerville TH (Neg) defeated Westlake MG</P></TD>
	<TD class="tr1 td6"><P class="p6 ft4"><NOBR>3-0</NOBR></P></TD>
	<TD class="tr1 td2"><P class="p7 ft4">McCormick, Drew</P></TD>
	<TD class="tr1 td3"><P class="p5 ft4">Berdugo, Erick</P></TD>
	<TD class="tr1 td7"><P class="p5 ft4">Olivarez, Matthe</P></TD>
</TR>
<TR>
	<TD class="tr1 td5"><P class="p5 ft4">Flower Mound JA (Aff) defeated Cypress Woods JD</P></TD>
	<TD class="tr1 td6"><P class="p6 ft4"><NOBR>2-1</NOBR></P></TD>
	<TD class="tr1 td2"><P class="p7 ft4">Sullivan, Tyler</P></TD>
	<TD class="tr1 td3"><P class="p5 ft4">Graham, Ryan</P></TD>
	<TD class="tr1 td7"><P class="p5 ft4">*Boyer, Bekah</P></TD>
</TR>
<TR>
	<TD class="tr0 td5"><P class="p5 ft3">Kinkaid jl (Neg) defeated Marcus DB</P></TD>
	<TD class="tr0 td6"><P class="p6 ft3"><NOBR>3-0</NOBR></P></TD>
	<TD class="tr0 td2"><P class="p7 ft3">Fife, Travis</P></TD>
	<TD class="tr0 td3"><P class="p5 ft3">Colling, Richard</P></TD>
	<TD class="tr0 td7"><P class="p5 ft3">Woods, Jared</P></TD>
</TR>
<TR>
	<TD class="tr1 td5"><P class="p5 ft4">Strake Jesuit College JD (Aff) defeated Hockaday KQ</P></TD>
	<TD class="tr1 td6"><P class="p6 ft4"><NOBR>3-0</NOBR></P></TD>
	<TD class="tr1 td2"><P class="p7 ft4">Hense, Ellen</P></TD>
	<TD class="tr1 td3"><P class="p5 ft4">Wright, Kris</P></TD>
	<TD class="tr1 td7"><P class="p5 ft5">Mahomes, Lauren</P></TD>
</TR>
<TR>
	<TD class="tr0 td5"><P class="p5 ft3">Flower Mound MG (Aff) defeated Strake Jesuit College JA</P></TD>
	<TD class="tr0 td6"><P class="p6 ft3"><NOBR>3-0</NOBR></P></TD>
	<TD class="tr0 td2"><P class="p7 ft3">Rowston, Barrett</P></TD>
	<TD class="tr0 td3"><P class="p5 ft3">Dillard, Robbie</P></TD>
	<TD class="tr0 td7"><P class="p5 ft3">Lumpee, Daniel</P></TD>
</TR>
<TR>
	<TD class="tr2 td5"><P class="p5 ft7">Lamar Consolidated DH (Aff) defeated Northland Christian ML</P></TD>
	<TD class="tr2 td6"><P class="p6 ft7"><NOBR>2-1</NOBR></P></TD>
	<TD class="tr2 td2"><P class="p7 ft7">*Russell, Jo</P></TD>
	<TD class="tr2 td3"><P class="p5 ft7">McGee, Gregory</P></TD>
	<TD class="tr2 td7"><P class="p5 ft7">Meffert, Ian</P></TD>
</TR>
</TABLE>
<P class="p8 ft2">Quarterfinal Round Results</P>
<TABLE cellpadding=0 cellspacing=0 class="t2">
<TR>
	<TD class="tr0 td8"><P class="p5 ft3">Greenhill RK (Neg) defeated Lamar Consolidated DH</P></TD>
	<TD class="tr0 td9"><P class="p6 ft3"><NOBR>2-1</NOBR></P></TD>
	<TD class="tr0 td2"><P class="p7 ft3">Woods, Jared</P></TD>
	<TD class="tr0 td3"><P class="p5 ft3">Ho, Vivian</P></TD>
	<TD class="tr0 td10"><P class="p5 ft3">*Russell, Jo</P></TD>
</TR>
<TR>
	<TD class="tr1 td8"><P class="p5 ft4">Flower Mound MG (Neg) defeated Hockaday CN</P></TD>
	<TD class="tr1 td9"><P class="p6 ft4"><NOBR>3-0</NOBR></P></TD>
	<TD class="tr1 td2"><P class="p7 ft4">Donovan, Patrick</P></TD>
	<TD class="tr1 td3"><P class="p5 ft4">Sims, John</P></TD>
	<TD class="tr1 td10"><P class="p5 ft4">Hamad, Sam</P></TD>
</TR>
<TR>
	<TD class="tr1 td8"><P class="p5 ft4">Strake Jesuit College JD (Aff) defeated Pflugerville TH</P></TD>
	<TD class="tr1 td9"><P class="p6 ft4"><NOBR>3-0</NOBR></P></TD>
	<TD class="tr1 td2"><P class="p7 ft4">Fife, Travis</P></TD>
	<TD class="tr1 td3"><P class="p5 ft4">Sullivan, Tyler</P></TD>
	<TD class="tr1 td10"><P class="p5 ft4">Kalla, Nicolas</P></TD>
</TR>
<TR>
	<TD class="tr2 td8"><P class="p5 ft7">Kinkaid jl (Neg) defeated Flower Mound JA</P></TD>
	<TD class="tr2 td9"><P class="p6 ft7"><NOBR>2-1</NOBR></P></TD>
	<TD class="tr2 td2"><P class="p7 ft7">McCormick, Drew</P></TD>
	<TD class="tr2 td3"><P class="p5 ft7">Nunley, Courtney</P></TD>
	<TD class="tr2 td10"><P class="p5 ft5">*Mahomes, Lauren</P></TD>
</TR>
</TABLE>
<P class="p8 ft2">Semifinal Round Results</P>
<TABLE cellpadding=0 cellspacing=0 class="t3">
<TR>
	<TD class="tr0 td11"><P class="p5 ft3">Greenhill RK (Aff) defeated Kinkaid jl</P></TD>
	<TD class="tr0 td12"><P class="p6 ft3"><NOBR>3-0</NOBR></P></TD>
	<TD class="tr0 td2"><P class="p7 ft3">Sykes, Jason</P></TD>
	<TD class="tr0 td3"><P class="p5 ft3">Donovan, Patrick</P></TD>
	<TD class="tr0 td13"><P class="p5 ft3">Gravley, Paul</P></TD>
</TR>
<TR>
	<TD class="tr2 td11"><P class="p5 ft7">Strake Jesuit College JD (Aff) defeated Flower Mound MG</P></TD>
	<TD class="tr2 td12"><P class="p6 ft7"><NOBR>3-0</NOBR></P></TD>
	<TD class="tr2 td2"><P class="p7 ft7">Sims, John</P></TD>
	<TD class="tr2 td3"><P class="p5 ft7">Fife, Travis</P></TD>
	<TD class="tr2 td13"><P class="p5 ft7">Rowston, Barrett</P></TD>
</TR>
</TABLE>
<P class="p8 ft2">Final Round Results</P>
<P class="p9 ft7">Greenhill RK (Neg) defeated Strake Jesuit College JD <NOBR>3-0</NOBR> Sims, John Dillard, Robbie Gravley, Paul</P>
</DIV>
</BODY>
</HTML>
