<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META http-equiv="X-UA-Compatible" content="IE=8">
<TITLE>Created by BCL easyConverter SDK 3 (HTML Version)</TITLE>
<META name="generator" content="BCL easyConverter SDK 3.0.60">
<STYLE type="text/css">

body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 28px 0px 271px 20px;padding: 0px;border: none;width: 796px;}





.ft0{font: bold 32px 'Times New Roman';line-height: 36px;}
.ft1{font: bold 24px 'Times New Roman';line-height: 26px;}
.ft2{font: bold 19px 'Times New Roman';line-height: 22px;}
.ft3{font: bold 12px 'Times New Roman';line-height: 15px;}
.ft4{font: bold 12px 'Times New Roman';line-height: 13px;}
.ft5{font: bold 12px 'Times New Roman';line-height: 14px;}
.ft6{font: bold 10px 'Times New Roman';line-height: 12px;}
.ft7{font: bold 11px 'Times New Roman';line-height: 13px;}

.p0{text-align: left;padding-left: 228px;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: left;padding-left: 231px;margin-top: 1px;margin-bottom: 0px;}
.p2{text-align: left;padding-left: 288px;margin-top: 3px;margin-bottom: 0px;}
.p3{text-align: left;padding-left: 233px;margin-top: 22px;margin-bottom: 0px;}
.p4{text-align: left;margin-top: 32px;margin-bottom: 0px;}
.p5{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p6{text-align: right;padding-right: 4px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p7{text-align: left;padding-left: 4px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p8{text-align: left;padding-left: 1px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p9{text-align: left;padding-left: 5px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p10{text-align: left;margin-top: 9px;margin-bottom: 0px;}
.p11{text-align: left;margin-top: 8px;margin-bottom: 0px;}
.p12{text-align: left;padding-left: 21px;margin-top: 1px;margin-bottom: 0px;}

.td0{padding: 0px;margin: 0px;width: 353px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 75px;vertical-align: bottom;}
.td2{padding: 0px;margin: 0px;width: 118px;vertical-align: bottom;}
.td3{padding: 0px;margin: 0px;width: 115px;vertical-align: bottom;}
.td4{padding: 0px;margin: 0px;width: 90px;vertical-align: bottom;}
.td5{padding: 0px;margin: 0px;width: 345px;vertical-align: bottom;}
.td6{padding: 0px;margin: 0px;width: 83px;vertical-align: bottom;}
.td7{padding: 0px;margin: 0px;width: 119px;vertical-align: bottom;}
.td8{padding: 0px;margin: 0px;width: 114px;vertical-align: bottom;}
.td9{padding: 0px;margin: 0px;width: 85px;vertical-align: bottom;}
.td10{padding: 0px;margin: 0px;width: 330px;vertical-align: bottom;}
.td11{padding: 0px;margin: 0px;width: 98px;vertical-align: bottom;}
.td12{padding: 0px;margin: 0px;width: 81px;vertical-align: bottom;}
.td13{padding: 0px;margin: 0px;width: 322px;vertical-align: bottom;}
.td14{padding: 0px;margin: 0px;width: 106px;vertical-align: bottom;}
.td15{padding: 0px;margin: 0px;width: 91px;vertical-align: bottom;}

.tr0{height: 16px;}
.tr1{height: 13px;}
.tr2{height: 14px;}
.tr3{height: 15px;}

.t0{width: 751px;margin-left: 21px;font: bold 12px 'Times New Roman';}
.t1{width: 746px;margin-left: 21px;font: bold 12px 'Times New Roman';}
.t2{width: 742px;margin-left: 21px;font: bold 12px 'Times New Roman';}
.t3{width: 752px;margin-left: 21px;font: bold 12px 'Times New Roman';}

</STYLE>
</HEAD>

<BODY>
<DIV id="page_1">


<P class="p0 ft0">TFA LD Debate 2014</P>
<P class="p1 ft1">Cypress Creek High School</P>
<P class="p2 ft1">March <NOBR>6-8,</NOBR> 2014</P>
<P class="p3 ft1">Elimination Round Results</P>
<P class="p4 ft2">Double Octafinal Round Results</P>
<TABLE cellpadding=0 cellspacing=0 class="t0">
<TR>
	<TD class="tr0 td0"><P class="p5 ft3">Northland Christian SH (Neg) defeated Woodlands AC</P></TD>
	<TD class="tr0 td1"><P class="p6 ft3"><NOBR>2-1</NOBR></P></TD>
	<TD class="tr0 td2"><P class="p7 ft3">*Babb, Stephen</P></TD>
	<TD class="tr0 td3"><P class="p8 ft3">Tripe, Halli</P></TD>
	<TD class="tr0 td4"><P class="p5 ft3">Boyd, Jane</P></TD>
</TR>
<TR>
	<TD class="tr1 td0"><P class="p5 ft4">Greenhill VA (Neg) defeated St. Agnes Academy MR</P></TD>
	<TD class="tr1 td1"><P class="p6 ft4"><NOBR>3-0</NOBR></P></TD>
	<TD class="tr1 td2"><P class="p7 ft4">McGee, Gregory</P></TD>
	<TD class="tr1 td3"><P class="p5 ft4">Colling, Richard</P></TD>
	<TD class="tr1 td4"><P class="p5 ft4">Emerson, Eric</P></TD>
</TR>
<TR>
	<TD class="tr2 td0"><P class="p5 ft5">Strake Jesuit JSt (Aff) defeated Hockaday CN</P></TD>
	<TD class="tr2 td1"><P class="p6 ft5"><NOBR>2-1</NOBR></P></TD>
	<TD class="tr2 td2"><P class="p7 ft5">*Cavanaugh, Dylan</P></TD>
	<TD class="tr2 td3"><P class="p8 ft5">Sims, John</P></TD>
	<TD class="tr2 td4"><P class="p5 ft6">Johnston, Nathan</P></TD>
</TR>
<TR>
	<TD class="tr2 td0"><P class="p5 ft5">Strake Jesuit AlTo (Aff) defeated Law Magnet DD</P></TD>
	<TD class="tr2 td1"><P class="p6 ft5"><NOBR>2-1</NOBR></P></TD>
	<TD class="tr2 td2"><P class="p7 ft5">*Cavanaugh, Dylan</P></TD>
	<TD class="tr2 td3"><P class="p8 ft5">Sims, John</P></TD>
	<TD class="tr2 td4"><P class="p5 ft6">Johnston, Nathan</P></TD>
</TR>
<TR>
	<TD class="tr1 td0"><P class="p5 ft4">Katy Taylor NY (Neg) defeated Kinkaid MS</P></TD>
	<TD class="tr1 td1"><P class="p6 ft4"><NOBR>3-0</NOBR></P></TD>
	<TD class="tr1 td2"><P class="p7 ft4">Babb, Stephen</P></TD>
	<TD class="tr1 td3"><P class="p8 ft4">Tripe, Halli</P></TD>
	<TD class="tr1 td4"><P class="p5 ft4">Durrani, Jordan</P></TD>
</TR>
<TR>
	<TD class="tr2 td0"><P class="p5 ft5">Clements FT (Neg) defeated Klein DT</P></TD>
	<TD class="tr2 td1"><P class="p6 ft5"><NOBR>3-0</NOBR></P></TD>
	<TD class="tr2 td2"><P class="p7 ft5">Castillo, Chris</P></TD>
	<TD class="tr2 td3"><P class="p8 ft5">Ketkar, Ajay</P></TD>
	<TD class="tr2 td4"><P class="p5 ft5">Feng, Betty</P></TD>
</TR>
<TR>
	<TD class="tr1 td0"><P class="p5 ft4">Strake Jesuit JoSa (Aff) defeated Colleyville Heritage AS</P></TD>
	<TD class="tr1 td1"><P class="p6 ft4"><NOBR>3-0</NOBR></P></TD>
	<TD class="tr1 td2"><P class="p7 ft4">Butler, Tyler</P></TD>
	<TD class="tr1 td3"><P class="p8 ft4">Schwartz, Joseph</P></TD>
	<TD class="tr1 td4"><P class="p5 ft4">Graham, Ryan</P></TD>
</TR>
<TR>
	<TD class="tr2 td0"><P class="p5 ft5">Marcus LH (Neg) defeated Calhoun Home AC</P></TD>
	<TD class="tr2 td1"><P class="p6 ft5"><NOBR>2-1</NOBR></P></TD>
	<TD class="tr2 td2"><P class="p9 ft5">Imas, Daniel</P></TD>
	<TD class="tr2 td3"><P class="p8 ft5">Perry, Robert</P></TD>
	<TD class="tr2 td4"><P class="p5 ft5">*Melin, Eric</P></TD>
</TR>
<TR>
	<TD class="tr2 td0"><P class="p5 ft5">Clements RG (Aff) defeated Greenhill SW</P></TD>
	<TD class="tr2 td1"><P class="p6 ft5"><NOBR>3-0</NOBR></P></TD>
	<TD class="tr2 td2"><P class="p7 ft5">Koshak, Jacob</P></TD>
	<TD class="tr2 td3"><P class="p8 ft5">Lumpee, Daniel</P></TD>
	<TD class="tr2 td4"><P class="p5 ft5">Dillard, Robbie</P></TD>
</TR>
<TR>
	<TD class="tr1 td0"><P class="p5 ft4">Greenhill BE (Neg) defeated Cypress Falls KS</P></TD>
	<TD class="tr1 td1"><P class="p6 ft4"><NOBR>3-0</NOBR></P></TD>
	<TD class="tr1 td2"><P class="p7 ft4">Gravley, Paul</P></TD>
	<TD class="tr1 td3"><P class="p5 ft4">Woods, Jared</P></TD>
	<TD class="tr1 td4"><P class="p5 ft4">Ati, Rohun</P></TD>
</TR>
<TR>
	<TD class="tr2 td0"><P class="p5 ft5">Greenhill MM (Aff) defeated Strake Jesuit RB</P></TD>
	<TD class="tr2 td1"><P class="p6 ft5"><NOBR>3-0</NOBR></P></TD>
	<TD class="tr2 td2"><P class="p7 ft5">Gravley, Paul</P></TD>
	<TD class="tr2 td3"><P class="p8 ft5">Woods, Jared</P></TD>
	<TD class="tr2 td4"><P class="p5 ft5">Overton, Josh</P></TD>
</TR>
<TR>
	<TD class="tr1 td0"><P class="p5 ft4">Northland Christian DL (Aff) defeated Strake Jesuit AnTo</P></TD>
	<TD class="tr1 td1"><P class="p6 ft4"><NOBR>3-0</NOBR></P></TD>
	<TD class="tr1 td2"><P class="p7 ft4">Wei, Jonathan</P></TD>
	<TD class="tr1 td3"><P class="p8 ft4">Ati, Rohun</P></TD>
	<TD class="tr1 td4"><P class="p5 ft4">Proffitt, Matthe</P></TD>
</TR>
<TR>
	<TD class="tr2 td0"><P class="p5 ft5">Cypress Woods XX (Neg) defeated Strake Jesuit SM</P></TD>
	<TD class="tr2 td1"><P class="p6 ft5"><NOBR>2-1</NOBR></P></TD>
	<TD class="tr2 td2"><P class="p7 ft5">Clancy, Ben</P></TD>
	<TD class="tr2 td3"><P class="p8 ft5">Sullivan, Tyler</P></TD>
	<TD class="tr2 td4"><P class="p5 ft5">*Joyner, Alex</P></TD>
</TR>
<TR>
	<TD class="tr2 td0"><P class="p5 ft5">Kinkaid nk (Neg) defeated Flower Mound JS</P></TD>
	<TD class="tr2 td1"><P class="p6 ft5"><NOBR>3-0</NOBR></P></TD>
	<TD class="tr2 td2"><P class="p7 ft5">Wright, Kris</P></TD>
	<TD class="tr2 td3"><P class="p5 ft5">Nunley, Courtney</P></TD>
	<TD class="tr2 td4"><P class="p5 ft5">Boyer, Bekah</P></TD>
</TR>
<TR>
	<TD class="tr1 td0"><P class="p5 ft4">Kempner AB (Aff) defeated Strake Jesuit JZ</P></TD>
	<TD class="tr1 td1"><P class="p6 ft4"><NOBR>2-1</NOBR></P></TD>
	<TD class="tr1 td2"><P class="p7 ft4">Clancy, Ben</P></TD>
	<TD class="tr1 td3"><P class="p8 ft4">*Sullivan, Tyler</P></TD>
	<TD class="tr1 td4"><P class="p5 ft4">Joyner, Alex</P></TD>
</TR>
<TR>
	<TD class="tr0 td0"><P class="p5 ft3">Travis AS (Neg) defeated Salado IH</P></TD>
	<TD class="tr0 td1"><P class="p6 ft3"><NOBR>3-0</NOBR></P></TD>
	<TD class="tr0 td2"><P class="p7 ft3">Nunley, Courtney</P></TD>
	<TD class="tr0 td3"><P class="p5 ft3">Boyer, Bekah</P></TD>
	<TD class="tr0 td4"><P class="p5 ft3">Tyger, Paul</P></TD>
</TR>
</TABLE>
<P class="p10 ft2">Octafinal Round Results</P>
<TABLE cellpadding=0 cellspacing=0 class="t1">
<TR>
	<TD class="tr3 td5"><P class="p5 ft3">Travis AS (Aff) defeated Northland Christian SH</P></TD>
	<TD class="tr3 td6"><P class="p6 ft3"><NOBR>2-1</NOBR></P></TD>
	<TD class="tr3 td7"><P class="p7 ft3">Castillo, Chris</P></TD>
	<TD class="tr3 td8"><P class="p5 ft3">Imas, Daniel</P></TD>
	<TD class="tr3 td9"><P class="p5 ft3">*Ketkar, Ajay</P></TD>
</TR>
<TR>
	<TD class="tr2 td5"><P class="p5 ft5">Greenhill VA (Neg) defeated Kempner AB</P></TD>
	<TD class="tr2 td6"><P class="p6 ft5"><NOBR>3-0</NOBR></P></TD>
	<TD class="tr2 td7"><P class="p7 ft5">Durrani, Jordan</P></TD>
	<TD class="tr2 td8"><P class="p5 ft5">Nunley, Courtney</P></TD>
	<TD class="tr2 td9"><P class="p5 ft5">Wei, Jonathan</P></TD>
</TR>
<TR>
	<TD class="tr1 td5"><P class="p5 ft4">Kinkaid nk (Neg) defeated Strake Jesuit JSt</P></TD>
	<TD class="tr1 td6"><P class="p6 ft4"><NOBR>2-1</NOBR></P></TD>
	<TD class="tr1 td7"><P class="p7 ft4">Schwartz, Joseph</P></TD>
	<TD class="tr1 td8"><P class="p5 ft4">Joseph, Justin</P></TD>
	<TD class="tr1 td9"><P class="p5 ft7">*Dillard, Robbie</P></TD>
</TR>
<TR>
	<TD class="tr2 td5"><P class="p5 ft5">Strake Jesuit AlTo (Aff) defeated Cypress Woods XX</P></TD>
	<TD class="tr2 td6"><P class="p6 ft5"><NOBR>3-0</NOBR></P></TD>
	<TD class="tr2 td7"><P class="p7 ft5">Sullivan, Tyler</P></TD>
	<TD class="tr2 td8"><P class="p5 ft5">Melin, Eric</P></TD>
	<TD class="tr2 td9"><P class="p5 ft5">Graham, Ryan</P></TD>
</TR>
<TR>
	<TD class="tr2 td5"><P class="p5 ft5">Katy Taylor NY (Aff) defeated Northland Christian DL</P></TD>
	<TD class="tr2 td6"><P class="p6 ft5"><NOBR>2-1</NOBR></P></TD>
	<TD class="tr2 td7"><P class="p7 ft5">Emerson, Eric</P></TD>
	<TD class="tr2 td8"><P class="p5 ft5">*Boyer, Bekah</P></TD>
	<TD class="tr2 td9"><P class="p5 ft5">Wright, Kris</P></TD>
</TR>
<TR>
	<TD class="tr1 td5"><P class="p5 ft4">Greenhill MM (Neg) defeated Clements FT</P></TD>
	<TD class="tr1 td6"><P class="p6 ft4"><NOBR>2-1</NOBR></P></TD>
	<TD class="tr1 td7"><P class="p7 ft4">Johnson, Gary</P></TD>
	<TD class="tr1 td8"><P class="p5 ft4">Overton, Josh</P></TD>
	<TD class="tr1 td9"><P class="p5 ft6">*Herrera, Philip</P></TD>
</TR>
<TR>
	<TD class="tr2 td5"><P class="p5 ft5">Greenhill BE (Aff) defeated Strake Jesuit JoSa</P></TD>
	<TD class="tr2 td6"><P class="p6 ft5"><NOBR>3-0</NOBR></P></TD>
	<TD class="tr2 td7"><P class="p7 ft5">Babb, Stephen</P></TD>
	<TD class="tr2 td8"><P class="p5 ft5">Joyner, Alex</P></TD>
	<TD class="tr2 td9"><P class="p5 ft5">Woods, Jared</P></TD>
</TR>
<TR>
	<TD class="tr0 td5"><P class="p5 ft3">Clements RG (Neg) defeated Marcus LH</P></TD>
	<TD class="tr0 td6"><P class="p6 ft3"><NOBR>3-0</NOBR></P></TD>
	<TD class="tr0 td7"><P class="p7 ft3">Tyger, Paul</P></TD>
	<TD class="tr0 td8"><P class="p5 ft3">Sims, John</P></TD>
	<TD class="tr0 td9"><P class="p5 ft3">Butler, Tyler</P></TD>
</TR>
</TABLE>
<P class="p11 ft2">Quarterfinal Round Results</P>
<TABLE cellpadding=0 cellspacing=0 class="t2">
<TR>
	<TD class="tr0 td10"><P class="p5 ft3">Clements RG (Neg) defeated Travis AS</P></TD>
	<TD class="tr0 td11"><P class="p6 ft3"><NOBR>2-1</NOBR></P></TD>
	<TD class="tr0 td7"><P class="p7 ft3">Boyer, Bekah</P></TD>
	<TD class="tr0 td8"><P class="p5 ft3">*Sims, John</P></TD>
	<TD class="tr0 td12"><P class="p5 ft3">Imas, Daniel</P></TD>
</TR>
<TR>
	<TD class="tr1 td10"><P class="p5 ft4">Greenhill BE (Neg) defeated Greenhill VA</P></TD>
	<TD class="tr1 td11"><P class="p6 ft4"><NOBR>2-1</NOBR></P></TD>
	<TD class="tr1 td7"><P class="p7 ft4">Dillard, Robbie</P></TD>
	<TD class="tr1 td8"><P class="p5 ft4">*Gravley, Paul</P></TD>
	<TD class="tr1 td12"><P class="p5 ft4">Overton, Josh</P></TD>
</TR>
<TR>
	<TD class="tr2 td10"><P class="p5 ft5">Greenhill MM (Aff) defeated Kinkaid nk</P></TD>
	<TD class="tr2 td11"><P class="p6 ft5"><NOBR>2-1</NOBR></P></TD>
	<TD class="tr2 td7"><P class="p7 ft5">*Nunley, Courtney</P></TD>
	<TD class="tr2 td8"><P class="p5 ft5">Herrera, Philip</P></TD>
	<TD class="tr2 td12"><P class="p5 ft6">Lumpee, Daniel</P></TD>
</TR>
<TR>
	<TD class="tr0 td10"><P class="p5 ft3">Katy Taylor NY (Aff) defeated Strake Jesuit AlTo</P></TD>
	<TD class="tr0 td11"><P class="p6 ft3"><NOBR>2-1</NOBR></P></TD>
	<TD class="tr0 td7"><P class="p7 ft3">*Babb, Stephen</P></TD>
	<TD class="tr0 td8"><P class="p5 ft3">Woods, Jared</P></TD>
	<TD class="tr0 td12"><P class="p5 ft3">Joyner, Alex</P></TD>
</TR>
</TABLE>
<P class="p11 ft2">Semifinal Round Results</P>
<TABLE cellpadding=0 cellspacing=0 class="t3">
<TR>
	<TD class="tr0 td13"><P class="p5 ft3">Katy Taylor NY (Neg) defeated Greenhill MM</P></TD>
	<TD class="tr0 td14"><P class="p6 ft3"><NOBR>2-1</NOBR></P></TD>
	<TD class="tr0 td7"><P class="p7 ft3">*Overton, Josh</P></TD>
	<TD class="tr0 td8"><P class="p5 ft3">Wei, Jonathan</P></TD>
	<TD class="tr0 td15"><P class="p5 ft6">Nunley, Courtney</P></TD>
</TR>
<TR>
	<TD class="tr0 td13"><P class="p5 ft3">Greenhill BE (Aff) defeated Clements RG</P></TD>
	<TD class="tr0 td14"><P class="p6 ft3"><NOBR>3-0</NOBR></P></TD>
	<TD class="tr0 td7"><P class="p7 ft3">Koshak, Jacob</P></TD>
	<TD class="tr0 td8"><P class="p5 ft3">Joyner, Alex</P></TD>
	<TD class="tr0 td15"><P class="p5 ft3">Herrera, Philip</P></TD>
</TR>
</TABLE>
<P class="p11 ft2">Final Round Results</P>
<P class="p12 ft3">Greenhill BE (Neg) defeated Katy Taylor NY <NOBR>2-1</NOBR> Tripe, Halli *Emerson, Eric Babb, Stephen</P>
</DIV>
</BODY>
</HTML>
