<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META http-equiv="X-UA-Compatible" content="IE=8">
<TITLE>Created by BCL easyConverter SDK 3 (HTML Version)</TITLE>
<META name="generator" content="BCL easyConverter SDK 3.0.60">
<STYLE type="text/css">

body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 31px 0px 243px 3px;padding: 0px;border: none;width: 813px;}
#page_1 #id_1 {border:none;margin: 0px 0px 0px 105px;padding: 0px;border:none;width: 708px;overflow: hidden;}
#page_1 #id_1 #id_1_1 {float:left;border:none;margin: 2px 0px 0px 0px;padding: 0px;border:none;width: 627px;overflow: hidden;}
#page_1 #id_1 #id_1_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 81px;overflow: hidden;}
#page_1 #id_2 {border:none;margin: 11px 0px 0px 0px;padding: 0px;border:none;width: 778px;overflow: hidden;}





.ft0{font: bold 27px 'Times';line-height: 29px;}
.ft1{font: bold 19px 'Times';line-height: 22px;}
.ft2{font: 9px 'Times';line-height: 12px;}
.ft3{font: 1px 'Times';line-height: 1px;}
.ft4{font: 13px 'Times';line-height: 15px;}
.ft5{font: 19px 'Times';line-height: 19px;}
.ft6{font: 10px 'Times';line-height: 12px;}
.ft7{font: 1px 'Times';line-height: 5px;}
.ft8{font: 13px 'Times';line-height: 14px;}
.ft9{font: 11px 'Times';line-height: 14px;}
.ft10{font: 1px 'Times';line-height: 14px;}
.ft11{font: 1px 'Times';line-height: 12px;}
.ft12{font: 8px 'Times';line-height: 10px;}
.ft13{font: 11px 'Times';line-height: 12px;}
.ft14{font: 1px 'Times';line-height: 3px;}
.ft15{font: 1px 'Times';line-height: 9px;}
.ft16{font: 8px 'Times';line-height: 9px;}
.ft17{font: 1px 'Times';line-height: 2px;}
.ft18{font: 19px 'Times';line-height: 20px;}
.ft19{font: 1px 'Times';line-height: 11px;}
.ft20{font: 11px 'Times';line-height: 11px;}
.ft21{font: 1px 'Times';line-height: 6px;}
.ft22{font: 13px 'Times';line-height: 13px;}
.ft23{font: 11px 'Times';line-height: 13px;}
.ft24{font: 1px 'Times';line-height: 13px;}
.ft25{font: 1px 'Times';line-height: 10px;}

.p0{text-align: left;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: left;padding-left: 192px;margin-top: 1px;margin-bottom: 0px;}
.p2{text-align: left;padding-left: 215px;margin-top: 0px;margin-bottom: 0px;}
.p3{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p4{text-align: left;padding-left: 9px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p5{text-align: left;padding-left: 8px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p6{text-align: left;padding-left: 6px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p7{text-align: right;padding-right: 42px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p8{text-align: right;padding-right: 16px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p9{text-align: left;padding-left: 28px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p10{text-align: left;padding-left: 30px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}

.td0{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 174px;vertical-align: bottom;}
.td1{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 68px;vertical-align: bottom;}
.td2{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 69px;vertical-align: bottom;}
.td3{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 75px;vertical-align: bottom;}
.td4{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 49px;vertical-align: bottom;}
.td5{border-left: #000000 1px solid;border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 172px;vertical-align: bottom;}
.td6{padding: 0px;margin: 0px;width: 37px;vertical-align: bottom;}
.td7{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 30px;vertical-align: bottom;}
.td8{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 31px;vertical-align: bottom;}
.td9{padding: 0px;margin: 0px;width: 36px;vertical-align: bottom;}
.td10{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 68px;vertical-align: bottom;}
.td11{padding: 0px;margin: 0px;width: 75px;vertical-align: bottom;}
.td12{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 48px;vertical-align: bottom;}
.td13{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 67px;vertical-align: bottom;}
.td14{border-left: #000000 1px solid;border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 172px;vertical-align: bottom;}
.td15{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 37px;vertical-align: bottom;}
.td16{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 30px;vertical-align: bottom;}
.td17{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 31px;vertical-align: bottom;}
.td18{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 36px;vertical-align: bottom;}
.td19{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 68px;vertical-align: bottom;}
.td20{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 48px;vertical-align: bottom;}

.tr0{height: 16px;}
.tr1{height: 19px;}
.tr2{height: 14px;}
.tr3{height: 5px;}
.tr4{height: 12px;}
.tr5{height: 3px;}
.tr6{height: 9px;}
.tr7{height: 22px;}
.tr8{height: 2px;}
.tr9{height: 20px;}
.tr10{height: 15px;}
.tr11{height: 11px;}
.tr12{height: 6px;}
.tr13{height: 13px;}
.tr14{height: 10px;}
.tr15{height: 21px;}

.t0{width: 778px;font: 13px 'Times';}

</STYLE>
</HEAD>

<BODY>
<DIV id="page_1">


<DIV id="id_1">
<DIV id="id_1_1">
<P class="p0 ft0">Tournament of <NOBR>Champions-LD</NOBR> <NOBR>--</NOBR> Lincoln Douglas</P>
<P class="p1 ft1">University of Kentucky</P>
<P class="p2 ft1">April <NOBR>28-30,</NOBR> 2012</P>
</DIV>
<DIV id="id_1_2">
<P class="p0 ft2">Page 2</P>
</DIV>
</DIV>
<DIV id="id_2">
<TABLE cellpadding=0 cellspacing=0 class="t0">
<TR>
	<TD class="tr0 td0"><P class="p3 ft3">&nbsp;</P></TD>
	<TD colspan=2 class="tr0 td1"><P class="p4 ft4">RD 1</P></TD>
	<TD colspan=2 class="tr0 td2"><P class="p4 ft4">RD 2</P></TD>
	<TD colspan=2 class="tr0 td1"><P class="p4 ft4">RD 3</P></TD>
	<TD colspan=2 class="tr0 td2"><P class="p4 ft4">RD 4</P></TD>
	<TD colspan=2 class="tr0 td2"><P class="p4 ft4">RD 5</P></TD>
	<TD colspan=2 class="tr0 td1"><P class="p5 ft4">RD 6</P></TD>
	<TD class="tr0 td2"><P class="p4 ft4">RD 7</P></TD>
	<TD class="tr0 td3"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr0 td4"><P class="p3 ft3">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr1 td5"><P class="p6 ft4">CESJDS EL</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr1 td7"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr1 td7"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr1 td9"><P class="p5 ft4">W</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr1 td10"><P class="p4 ft4">L Neg</P></TD>
	<TD rowspan=2 class="tr1 td11"><P class="p7 ft5"><NOBR>4-3</NOBR></P></TD>
	<TD class="tr2 td12"><P class="p8 ft6">142.70</P></TD>
</TR>
<TR>
	<TD class="tr3 td12"><P class="p3 ft7">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td5"><P class="p9 ft8">Cesjds</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">Hocka CC</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">HarvarMC</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">UnivScJT</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">TPHS EL</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">BaHS AT</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p5 ft9">SLP RS</P></TD>
	<TD class="tr2 td10"><P class="p4 ft9">PV PenHZ</P></TD>
	<TD class="tr2 td11"><P class="p3 ft10">&nbsp;</P></TD>
	<TD class="tr2 td12"><P class="p8 ft6">198.20</P></TD>
</TR>
<TR>
	<TD class="tr4 td5"><P class="p3 ft11">&nbsp;</P></TD>
	<TD colspan=2 class="tr4 td13"><P class="p4 ft12">Kramer, Al</P></TD>
	<TD colspan=2 class="tr4 td10"><P class="p4 ft12">Liu, Larry</P></TD>
	<TD colspan=2 class="tr4 td13"><P class="p4 ft12">Sigalow, M</P></TD>
	<TD colspan=2 class="tr4 td10"><P class="p4 ft12">Zhou, Jaso</P></TD>
	<TD colspan=2 class="tr4 td10"><P class="p4 ft12">Moerner, D</P></TD>
	<TD colspan=2 class="tr4 td13"><P class="p5 ft12">Melin, Jen</P></TD>
	<TD class="tr4 td10"><P class="p4 ft12">Merchant,</P></TD>
	<TD class="tr4 td11"><P class="p10 ft13">Seed 31</P></TD>
	<TD class="tr4 td12"><P class="p3 ft11">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr1 td5"><P class="p9 ft4">Elana Leone</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">28</P></TD>
	<TD class="tr1 td7"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">28.5</P></TD>
	<TD class="tr1 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">29</P></TD>
	<TD class="tr1 td7"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">28.2</P></TD>
	<TD class="tr1 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">29</P></TD>
	<TD class="tr1 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td9"><P class="p5 ft4">26.5</P></TD>
	<TD class="tr1 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td10"><P class="p4 ft4">29</P></TD>
	<TD class="tr1 td11"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td12"><P class="p3 ft3">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr5 td14"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td16"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td16"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td18"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td19"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td3"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td20"><P class="p3 ft14">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr1 td5"><P class="p6 ft4">Carpe Diem JM</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr1 td7"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr1 td7"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr1 td9"><P class="p5 ft4">L</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr1 td10"><P class="p4 ft4">L Neg</P></TD>
	<TD rowspan=2 class="tr1 td11"><P class="p7 ft5"><NOBR>3-4</NOBR></P></TD>
	<TD class="tr2 td12"><P class="p8 ft6">140.50</P></TD>
</TR>
<TR>
	<TD class="tr3 td12"><P class="p3 ft7">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td5"><P class="p9 ft8">Carpe Diem</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">UnivScJT</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">MSD JF</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">MHS YY</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">SMHS JN</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">LHPS TL</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p5 ft9">ScarHSGK</P></TD>
	<TD class="tr2 td10"><P class="p4 ft9">BrntwdKA</P></TD>
	<TD class="tr2 td11"><P class="p3 ft10">&nbsp;</P></TD>
	<TD class="tr2 td12"><P class="p8 ft6">196.20</P></TD>
</TR>
<TR>
	<TD class="tr6 td5"><P class="p3 ft15">&nbsp;</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Kawahara,</P></TD>
	<TD colspan=2 class="tr6 td10"><P class="p4 ft16">Gooderham,</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Smith, Tra</P></TD>
	<TD colspan=2 class="tr6 td10"><P class="p4 ft16">Pearce, Ju</P></TD>
	<TD colspan=2 class="tr6 td10"><P class="p4 ft16">Tarsney, C</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p5 ft16">Legried, E</P></TD>
	<TD class="tr6 td10"><P class="p4 ft16">Jennis, Da</P></TD>
	<TD class="tr6 td11"><P class="p3 ft15">&nbsp;</P></TD>
	<TD class="tr6 td12"><P class="p3 ft15">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr7 td5"><P class="p9 ft4">Joseph Millman</P></TD>
	<TD class="tr7 td6"><P class="p4 ft4">28.5</P></TD>
	<TD class="tr7 td7"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft4">28.5</P></TD>
	<TD class="tr7 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft4">27</P></TD>
	<TD class="tr7 td7"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft4">27</P></TD>
	<TD class="tr7 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft4">28.5</P></TD>
	<TD class="tr7 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td9"><P class="p5 ft4">28.7</P></TD>
	<TD class="tr7 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td10"><P class="p4 ft4">28</P></TD>
	<TD class="tr7 td11"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td12"><P class="p3 ft3">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr8 td14"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td16"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td16"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td18"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td19"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td3"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td20"><P class="p3 ft17">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr9 td5"><P class="p6 ft4">College Prep PM</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr9 td7"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr9 td7"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr9 td9"><P class="p5 ft4">W</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">Bye</P></TD>
	<TD rowspan=2 class="tr9 td10"><P class="p4 ft4">W Neg</P></TD>
	<TD rowspan=2 class="tr9 td11"><P class="p7 ft18"><NOBR>2-5</NOBR></P></TD>
	<TD class="tr10 td12"><P class="p8 ft6">140.74</P></TD>
</TR>
<TR>
	<TD class="tr3 td12"><P class="p3 ft7">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td5"><P class="p9 ft8">College Prep</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">ScarHSSN</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">HarvarMO</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">WHS CS</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">BaHS AT</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">PvilleTH</P></TD>
	<TD class="tr2 td9"><P class="p3 ft10">&nbsp;</P></TD>
	<TD class="tr2 td8"><P class="p3 ft10">&nbsp;</P></TD>
	<TD class="tr2 td10"><P class="p4 ft9">BenFrWM</P></TD>
	<TD class="tr2 td11"><P class="p3 ft10">&nbsp;</P></TD>
	<TD class="tr2 td12"><P class="p8 ft6">197.04</P></TD>
</TR>
<TR>
	<TD class="tr6 td5"><P class="p3 ft15">&nbsp;</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Legried, E</P></TD>
	<TD class="tr6 td6"><P class="p4 ft16">Phillips,</P></TD>
	<TD class="tr6 td8"><P class="p3 ft15">&nbsp;</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Niemi, Reb</P></TD>
	<TD colspan=2 class="tr6 td10"><P class="p4 ft16">Zhou, Jaso</P></TD>
	<TD colspan=2 class="tr6 td10"><P class="p4 ft16">Durkin, To</P></TD>
	<TD class="tr6 td9"><P class="p3 ft15">&nbsp;</P></TD>
	<TD class="tr6 td8"><P class="p3 ft15">&nbsp;</P></TD>
	<TD class="tr6 td10"><P class="p4 ft16">Melin, Jen</P></TD>
	<TD class="tr6 td11"><P class="p3 ft15">&nbsp;</P></TD>
	<TD class="tr6 td12"><P class="p3 ft15">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr7 td5"><P class="p9 ft4">Paige Mackenzie</P></TD>
	<TD class="tr7 td6"><P class="p4 ft4">27.8</P></TD>
	<TD class="tr7 td7"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft4">28.5</P></TD>
	<TD class="tr7 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft4">28</P></TD>
	<TD class="tr7 td7"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft4">28.1</P></TD>
	<TD class="tr7 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft4">28</P></TD>
	<TD class="tr7 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td9"><P class="p5 ft4">28.1</P></TD>
	<TD class="tr7 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td10"><P class="p4 ft4">28.5</P></TD>
	<TD class="tr7 td11"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td12"><P class="p3 ft3">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr8 td14"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td16"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td16"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td18"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td19"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td3"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td20"><P class="p3 ft17">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr9 td5"><P class="p6 ft4">College Prep SS</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr9 td7"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr9 td7"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr9 td9"><P class="p5 ft4">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr9 td10"><P class="p4 ft4">L Neg</P></TD>
	<TD rowspan=2 class="tr9 td11"><P class="p7 ft18"><NOBR>4-3</NOBR></P></TD>
	<TD class="tr10 td12"><P class="p8 ft6">144.40</P></TD>
</TR>
<TR>
	<TD class="tr3 td12"><P class="p3 ft7">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td5"><P class="p9 ft8">College Prep</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">PV PenDT</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">GWash MZ</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">UnivScMF</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">SJCP JD</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">ScarHSGK</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p5 ft9">SJCP DM</P></TD>
	<TD class="tr2 td10"><P class="p4 ft9">ScoastCB</P></TD>
	<TD class="tr2 td11"><P class="p3 ft10">&nbsp;</P></TD>
	<TD class="tr2 td12"><P class="p8 ft6">201.90</P></TD>
</TR>
<TR>
	<TD class="tr11 td5"><P class="p3 ft19">&nbsp;</P></TD>
	<TD colspan=2 class="tr11 td13"><P class="p4 ft12">Melin, Jen</P></TD>
	<TD colspan=2 class="tr11 td10"><P class="p4 ft12">Niemi, Reb</P></TD>
	<TD colspan=2 class="tr11 td13"><P class="p4 ft12">Ruff, Soph</P></TD>
	<TD colspan=2 class="tr11 td10"><P class="p4 ft12">Brown, Ros</P></TD>
	<TD colspan=2 class="tr11 td10"><P class="p4 ft12">Zhou, Jaso</P></TD>
	<TD colspan=2 class="tr11 td13"><P class="p5 ft12">Adler, Ste</P></TD>
	<TD class="tr11 td10"><P class="p4 ft12">Evnen, Tom</P></TD>
	<TD class="tr11 td11"><P class="p10 ft20">Seed 22</P></TD>
	<TD class="tr11 td12"><P class="p3 ft19">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr1 td5"><P class="p9 ft4">Sarah Sachs</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">29.5</P></TD>
	<TD class="tr1 td7"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">28.5</P></TD>
	<TD class="tr1 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">28.5</P></TD>
	<TD class="tr1 td7"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">28</P></TD>
	<TD class="tr1 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">29</P></TD>
	<TD class="tr1 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td9"><P class="p5 ft4">28.9</P></TD>
	<TD class="tr1 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td10"><P class="p4 ft4">29.5</P></TD>
	<TD class="tr1 td11"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td12"><P class="p3 ft3">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr5 td14"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td16"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td16"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td18"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td19"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td3"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td20"><P class="p3 ft14">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr9 td5"><P class="p6 ft4">Cypress Falls BH</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr9 td7"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr9 td7"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr9 td9"><P class="p5 ft4">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr9 td10"><P class="p4 ft4">W AFF</P></TD>
	<TD rowspan=2 class="tr9 td11"><P class="p7 ft18"><NOBR>3-4</NOBR></P></TD>
	<TD class="tr2 td12"><P class="p8 ft6">139.00</P></TD>
</TR>
<TR>
	<TD class="tr12 td12"><P class="p3 ft21">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr13 td5"><P class="p9 ft22">Cypress Falls Hs</P></TD>
	<TD colspan=2 class="tr13 td13"><P class="p4 ft23">Lex NS</P></TD>
	<TD colspan=2 class="tr13 td10"><P class="p4 ft23">SLP RS</P></TD>
	<TD colspan=2 class="tr13 td13"><P class="p4 ft23">PvilleTH</P></TD>
	<TD colspan=2 class="tr13 td10"><P class="p4 ft23">ScarHSZE</P></TD>
	<TD colspan=2 class="tr13 td10"><P class="p4 ft23">HarrisDD</P></TD>
	<TD colspan=2 class="tr13 td13"><P class="p5 ft23">BaHS AT</P></TD>
	<TD class="tr13 td10"><P class="p4 ft23">Hocka MC</P></TD>
	<TD class="tr13 td11"><P class="p3 ft24">&nbsp;</P></TD>
	<TD class="tr13 td12"><P class="p8 ft6">195.00</P></TD>
</TR>
<TR>
	<TD class="tr14 td5"><P class="p3 ft25">&nbsp;</P></TD>
	<TD colspan=2 class="tr14 td13"><P class="p4 ft16">Parker, Ar</P></TD>
	<TD colspan=2 class="tr14 td10"><P class="p4 ft16">Kramer, Al</P></TD>
	<TD colspan=2 class="tr14 td13"><P class="p4 ft16">Melin, Jen</P></TD>
	<TD colspan=2 class="tr14 td10"><P class="p4 ft16">Kawahara,</P></TD>
	<TD colspan=2 class="tr14 td10"><P class="p4 ft16">Scher, Dyl</P></TD>
	<TD colspan=2 class="tr14 td13"><P class="p5 ft16">Mandhania,</P></TD>
	<TD class="tr14 td10"><P class="p4 ft16">Woods, Jar</P></TD>
	<TD class="tr14 td11"><P class="p3 ft25">&nbsp;</P></TD>
	<TD class="tr14 td12"><P class="p3 ft25">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr15 td5"><P class="p9 ft4">Brian Hodge</P></TD>
	<TD class="tr15 td6"><P class="p4 ft4">27</P></TD>
	<TD class="tr15 td7"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr15 td6"><P class="p4 ft4">28</P></TD>
	<TD class="tr15 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr15 td6"><P class="p4 ft4">27.5</P></TD>
	<TD class="tr15 td7"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr15 td6"><P class="p4 ft4">27</P></TD>
	<TD class="tr15 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr15 td6"><P class="p4 ft4">28</P></TD>
	<TD class="tr15 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr15 td9"><P class="p5 ft4">28.5</P></TD>
	<TD class="tr15 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr15 td10"><P class="p4 ft4">29</P></TD>
	<TD class="tr15 td11"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr15 td12"><P class="p3 ft3">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr5 td14"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td16"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td16"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td18"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td19"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td3"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td20"><P class="p3 ft14">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr9 td5"><P class="p6 ft4">Cypress Woods TJ</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr9 td7"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr9 td7"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr9 td9"><P class="p5 ft4">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr9 td10"><P class="p4 ft4">L Neg</P></TD>
	<TD rowspan=2 class="tr9 td11"><P class="p7 ft18"><NOBR>2-5</NOBR></P></TD>
	<TD class="tr2 td12"><P class="p8 ft6">139.30</P></TD>
</TR>
<TR>
	<TD class="tr12 td12"><P class="p3 ft21">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr13 td5"><P class="p9 ft22">Cypress Woods</P></TD>
	<TD colspan=2 class="tr13 td13"><P class="p4 ft23">MBHS AC</P></TD>
	<TD colspan=2 class="tr13 td10"><P class="p4 ft23">ScarHSSN</P></TD>
	<TD colspan=2 class="tr13 td13"><P class="p4 ft23">LoyolaMH</P></TD>
	<TD colspan=2 class="tr13 td10"><P class="p4 ft23">KDHS SM</P></TD>
	<TD colspan=2 class="tr13 td10"><P class="p4 ft23">SJCP JH</P></TD>
	<TD colspan=2 class="tr13 td13"><P class="p5 ft23">Hocka KQ</P></TD>
	<TD class="tr13 td10"><P class="p4 ft23">KDHS AW</P></TD>
	<TD class="tr13 td11"><P class="p3 ft24">&nbsp;</P></TD>
	<TD class="tr13 td12"><P class="p8 ft6">194.80</P></TD>
</TR>
<TR>
	<TD class="tr6 td5"><P class="p3 ft15">&nbsp;</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Anderson,</P></TD>
	<TD colspan=2 class="tr6 td10"><P class="p4 ft16">Zhou, Jaso</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Clancy, Be</P></TD>
	<TD colspan=2 class="tr6 td10"><P class="p4 ft16">Cockroft,</P></TD>
	<TD colspan=2 class="tr6 td10"><P class="p4 ft16">Norris, Ta</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p5 ft16">Catterton,</P></TD>
	<TD class="tr6 td10"><P class="p4 ft16">Niemi, Reb</P></TD>
	<TD class="tr6 td11"><P class="p3 ft15">&nbsp;</P></TD>
	<TD class="tr6 td12"><P class="p3 ft15">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr7 td5"><P class="p9 ft4">Ty Joplin</P></TD>
	<TD class="tr7 td6"><P class="p4 ft4">28</P></TD>
	<TD class="tr7 td7"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft4">27.8</P></TD>
	<TD class="tr7 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft4">28.5</P></TD>
	<TD class="tr7 td7"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft4">29</P></TD>
	<TD class="tr7 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft4">27</P></TD>
	<TD class="tr7 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td9"><P class="p5 ft4">26.5</P></TD>
	<TD class="tr7 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td10"><P class="p4 ft4">28</P></TD>
	<TD class="tr7 td11"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td12"><P class="p3 ft3">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr5 td14"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td16"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td16"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td18"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td19"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td3"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td20"><P class="p3 ft14">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr1 td5"><P class="p6 ft4">Dulles AK</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr1 td7"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr1 td7"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr1 td9"><P class="p5 ft4">W</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr1 td10"><P class="p4 ft4">W Neg</P></TD>
	<TD rowspan=2 class="tr1 td11"><P class="p7 ft5"><NOBR>5-2</NOBR></P></TD>
	<TD class="tr2 td12"><P class="p8 ft6">142.90</P></TD>
</TR>
<TR>
	<TD class="tr3 td12"><P class="p3 ft7">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td5"><P class="p9 ft8">John Foster Dulles</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">Walt WSF</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">BHHS SC</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">LBlakeTC</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">ScoastCB</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">SJCP JD</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p5 ft9">HarvarMO</P></TD>
	<TD class="tr2 td10"><P class="p4 ft9">TMS RF</P></TD>
	<TD class="tr2 td11"><P class="p3 ft10">&nbsp;</P></TD>
	<TD class="tr2 td12"><P class="p8 ft6">200.40</P></TD>
</TR>
<TR>
	<TD class="tr4 td5"><P class="p3 ft11">&nbsp;</P></TD>
	<TD colspan=2 class="tr4 td13"><P class="p4 ft12">Niemi, Reb</P></TD>
	<TD colspan=2 class="tr4 td10"><P class="p4 ft12">Pielstick,</P></TD>
	<TD colspan=2 class="tr4 td13"><P class="p4 ft12">Zhou, Jaso</P></TD>
	<TD colspan=2 class="tr4 td10"><P class="p4 ft12">Kramer, Al</P></TD>
	<TD colspan=2 class="tr4 td10"><P class="p4 ft12">Jennis, Da</P></TD>
	<TD colspan=2 class="tr4 td13"><P class="p5 ft12">Woods, Jar</P></TD>
	<TD class="tr4 td10"><P class="p4 ft12">Durkin, To</P></TD>
	<TD class="tr4 td11"><P class="p10 ft13">19th Seed</P></TD>
	<TD class="tr4 td12"><P class="p3 ft11">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr1 td5"><P class="p9 ft4">Amyn Kassam</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">28.5</P></TD>
	<TD class="tr1 td7"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">28.6</P></TD>
	<TD class="tr1 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">28.3</P></TD>
	<TD class="tr1 td7"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">28.5</P></TD>
	<TD class="tr1 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">29</P></TD>
	<TD class="tr1 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td9"><P class="p5 ft4">28</P></TD>
	<TD class="tr1 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td10"><P class="p4 ft4">29.5</P></TD>
	<TD class="tr1 td11"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td12"><P class="p3 ft3">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr5 td14"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td16"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td16"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td18"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td19"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td3"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td20"><P class="p3 ft14">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr1 td5"><P class="p6 ft4">Evanston Township EB</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr1 td7"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr1 td7"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr1 td9"><P class="p5 ft4">W</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr1 td10"><P class="p4 ft4">W AFF</P></TD>
	<TD rowspan=2 class="tr1 td11"><P class="p7 ft5"><NOBR>5-2</NOBR></P></TD>
	<TD class="tr2 td12"><P class="p8 ft6">143.30</P></TD>
</TR>
<TR>
	<TD class="tr3 td12"><P class="p3 ft7">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td5"><P class="p9 ft8">Evanston Township</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">ScarHSGR</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">SJCP JH</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">MVHS MJ</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">Paly TC</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">STYVSTGW</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p5 ft9">Walt WJL</P></TD>
	<TD class="tr2 td10"><P class="p4 ft9">SJCP DM</P></TD>
	<TD class="tr2 td11"><P class="p3 ft10">&nbsp;</P></TD>
	<TD class="tr2 td12"><P class="p8 ft6">200.70</P></TD>
</TR>
<TR>
	<TD class="tr4 td5"><P class="p3 ft11">&nbsp;</P></TD>
	<TD colspan=2 class="tr4 td13"><P class="p4 ft12">Kawahara,</P></TD>
	<TD colspan=2 class="tr4 td10"><P class="p4 ft12">Melin, Jen</P></TD>
	<TD colspan=2 class="tr4 td13"><P class="p4 ft12">Pearce, Ju</P></TD>
	<TD colspan=2 class="tr4 td10"><P class="p4 ft12">Adler, Ste</P></TD>
	<TD colspan=2 class="tr4 td10"><P class="p4 ft12">Daks, Dani</P></TD>
	<TD colspan=2 class="tr4 td13"><P class="p5 ft12">Merchant,</P></TD>
	<TD class="tr4 td10"><P class="p4 ft12">Green, Per</P></TD>
	<TD class="tr4 td11"><P class="p10 ft13">18th Seed</P></TD>
	<TD class="tr4 td12"><P class="p3 ft11">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr1 td5"><P class="p9 ft4">Erik Baker</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">28</P></TD>
	<TD class="tr1 td7"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">29</P></TD>
	<TD class="tr1 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">29.9</P></TD>
	<TD class="tr1 td7"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">27.7</P></TD>
	<TD class="tr1 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">27.5</P></TD>
	<TD class="tr1 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td9"><P class="p5 ft4">29.6</P></TD>
	<TD class="tr1 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td10"><P class="p4 ft4">29</P></TD>
	<TD class="tr1 td11"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td12"><P class="p3 ft3">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr8 td14"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td16"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td16"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td18"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td19"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td3"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td20"><P class="p3 ft17">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr9 td5"><P class="p6 ft4">Fl University School JT</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr9 td7"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr9 td7"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr9 td9"><P class="p5 ft4">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr9 td10"><P class="p4 ft4">L AFF</P></TD>
	<TD rowspan=2 class="tr9 td11"><P class="p7 ft18"><NOBR>4-3</NOBR></P></TD>
	<TD class="tr10 td12"><P class="p8 ft6">145.00</P></TD>
</TR>
<TR>
	<TD class="tr3 td12"><P class="p3 ft7">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td5"><P class="p9 ft8">Fl University School</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">Carpe JM</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">MVHS MM</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">CESJDSEL</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">ANHS RG</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">Paly TC</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p5 ft9">NOJ JP</P></TD>
	<TD class="tr2 td10"><P class="p4 ft9">ScarHSSN</P></TD>
	<TD class="tr2 td11"><P class="p3 ft10">&nbsp;</P></TD>
	<TD class="tr2 td12"><P class="p8 ft6">203.00</P></TD>
</TR>
<TR>
	<TD class="tr4 td5"><P class="p3 ft11">&nbsp;</P></TD>
	<TD colspan=2 class="tr4 td13"><P class="p4 ft12">Kawahara,</P></TD>
	<TD colspan=2 class="tr4 td10"><P class="p4 ft12">Green, Per</P></TD>
	<TD colspan=2 class="tr4 td13"><P class="p4 ft12">Sigalow, M</P></TD>
	<TD colspan=2 class="tr4 td10"><P class="p4 ft12">Holguin, B</P></TD>
	<TD colspan=2 class="tr4 td10"><P class="p4 ft12">Pearce, Ju</P></TD>
	<TD colspan=2 class="tr4 td13"><P class="p5 ft12">Tarsney, C</P></TD>
	<TD class="tr4 td10"><P class="p4 ft12">Wilder, Br</P></TD>
	<TD class="tr4 td11"><P class="p10 ft13">Seed 21</P></TD>
	<TD class="tr4 td12"><P class="p3 ft11">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr1 td5"><P class="p9 ft4">Joshua Tupler</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">28.5</P></TD>
	<TD class="tr1 td7"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">29</P></TD>
	<TD class="tr1 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">29.5</P></TD>
	<TD class="tr1 td7"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">29</P></TD>
	<TD class="tr1 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">28</P></TD>
	<TD class="tr1 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td9"><P class="p5 ft4">30</P></TD>
	<TD class="tr1 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td10"><P class="p4 ft4">29</P></TD>
	<TD class="tr1 td11"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td12"><P class="p3 ft3">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr8 td14"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td16"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td16"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td18"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td19"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td3"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td20"><P class="p3 ft17">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr9 td5"><P class="p6 ft4">Fl University School MF</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr9 td7"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr9 td7"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr9 td9"><P class="p5 ft4">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr9 td10"><P class="p4 ft4">W Neg</P></TD>
	<TD rowspan=2 class="tr9 td11"><P class="p7 ft18"><NOBR>6-1</NOBR></P></TD>
	<TD class="tr10 td12"><P class="p8 ft6">142.40</P></TD>
</TR>
<TR>
	<TD class="tr3 td12"><P class="p3 ft7">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td5"><P class="p9 ft8">Fl University School</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">HarvarMO</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">HarrisDD</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">CPS SS</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">GHS FD</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">Lex NS</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p5 ft9">GHS RK</P></TD>
	<TD class="tr2 td10"><P class="p4 ft9">NOJ JP</P></TD>
	<TD class="tr2 td11"><P class="p3 ft10">&nbsp;</P></TD>
	<TD class="tr2 td12"><P class="p8 ft6">198.90</P></TD>
</TR>
<TR>
	<TD class="tr11 td5"><P class="p3 ft19">&nbsp;</P></TD>
	<TD colspan=2 class="tr11 td13"><P class="p4 ft12">Scoggin, L</P></TD>
	<TD colspan=2 class="tr11 td10"><P class="p4 ft12">Jennis, Da</P></TD>
	<TD colspan=2 class="tr11 td13"><P class="p4 ft12">Ruff, Soph</P></TD>
	<TD colspan=2 class="tr11 td10"><P class="p4 ft12">Tarsney, C</P></TD>
	<TD colspan=2 class="tr11 td10"><P class="p4 ft12">Smith, Tra</P></TD>
	<TD colspan=2 class="tr11 td13"><P class="p5 ft12">Horowitz,</P></TD>
	<TD class="tr11 td10"><P class="p4 ft12">Holguin, B</P></TD>
	<TD class="tr11 td11"><P class="p10 ft20">6th Seed</P></TD>
	<TD class="tr11 td12"><P class="p3 ft19">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr1 td5"><P class="p9 ft4">Michael Fried</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">27.5</P></TD>
	<TD class="tr1 td7"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">28.5</P></TD>
	<TD class="tr1 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">28.5</P></TD>
	<TD class="tr1 td7"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">27.9</P></TD>
	<TD class="tr1 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">28.5</P></TD>
	<TD class="tr1 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td9"><P class="p5 ft4">29</P></TD>
	<TD class="tr1 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td10"><P class="p4 ft4">29</P></TD>
	<TD class="tr1 td11"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td12"><P class="p3 ft3">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr5 td14"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td16"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td16"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td18"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td19"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td3"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td20"><P class="p3 ft14">&nbsp;</P></TD>
</TR>
</TABLE>
</DIV>
</DIV>
</BODY>
</HTML>
