<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META http-equiv="X-UA-Compatible" content="IE=8">
<TITLE>Created by BCL easyConverter SDK 3 (HTML Version)</TITLE>
<META name="generator" content="BCL easyConverter SDK 3.0.60">
<STYLE type="text/css">

body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 31px 0px 243px 3px;padding: 0px;border: none;width: 813px;}
#page_1 #id_1 {border:none;margin: 0px 0px 0px 105px;padding: 0px;border:none;width: 708px;overflow: hidden;}
#page_1 #id_1 #id_1_1 {float:left;border:none;margin: 2px 0px 0px 0px;padding: 0px;border:none;width: 627px;overflow: hidden;}
#page_1 #id_1 #id_1_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 81px;overflow: hidden;}
#page_1 #id_2 {border:none;margin: 11px 0px 0px 0px;padding: 0px;border:none;width: 778px;overflow: hidden;}





.ft0{font: bold 27px 'Times';line-height: 29px;}
.ft1{font: bold 19px 'Times';line-height: 22px;}
.ft2{font: 9px 'Times';line-height: 12px;}
.ft3{font: 1px 'Times';line-height: 1px;}
.ft4{font: 13px 'Times';line-height: 15px;}
.ft5{font: 19px 'Times';line-height: 19px;}
.ft6{font: 11px 'Times';line-height: 13px;}
.ft7{font: 1px 'Times';line-height: 5px;}
.ft8{font: 13px 'Times';line-height: 14px;}
.ft9{font: 11px 'Times';line-height: 14px;}
.ft10{font: 1px 'Times';line-height: 14px;}
.ft11{font: 1px 'Times';line-height: 12px;}
.ft12{font: 8px 'Times';line-height: 10px;}
.ft13{font: 11px 'Times';line-height: 12px;}
.ft14{font: 1px 'Times';line-height: 3px;}
.ft15{font: 1px 'Times';line-height: 9px;}
.ft16{font: 8px 'Times';line-height: 9px;}
.ft17{font: 1px 'Times';line-height: 2px;}
.ft18{font: 19px 'Times';line-height: 20px;}
.ft19{font: 1px 'Times';line-height: 6px;}
.ft20{font: 13px 'Times';line-height: 13px;}
.ft21{font: 1px 'Times';line-height: 13px;}
.ft22{font: 1px 'Times';line-height: 10px;}

.p0{text-align: left;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: left;padding-left: 192px;margin-top: 1px;margin-bottom: 0px;}
.p2{text-align: left;padding-left: 215px;margin-top: 0px;margin-bottom: 0px;}
.p3{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p4{text-align: left;padding-left: 9px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p5{text-align: left;padding-left: 8px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p6{text-align: left;padding-left: 6px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p7{text-align: right;padding-right: 39px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p8{text-align: right;padding-right: 16px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p9{text-align: left;padding-left: 28px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p10{text-align: left;padding-left: 30px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}

.td0{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 174px;vertical-align: bottom;}
.td1{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 68px;vertical-align: bottom;}
.td2{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 69px;vertical-align: bottom;}
.td3{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 72px;vertical-align: bottom;}
.td4{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 52px;vertical-align: bottom;}
.td5{border-left: #000000 1px solid;border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 172px;vertical-align: bottom;}
.td6{padding: 0px;margin: 0px;width: 37px;vertical-align: bottom;}
.td7{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 30px;vertical-align: bottom;}
.td8{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 31px;vertical-align: bottom;}
.td9{padding: 0px;margin: 0px;width: 36px;vertical-align: bottom;}
.td10{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 68px;vertical-align: bottom;}
.td11{padding: 0px;margin: 0px;width: 72px;vertical-align: bottom;}
.td12{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 51px;vertical-align: bottom;}
.td13{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 67px;vertical-align: bottom;}
.td14{border-left: #000000 1px solid;border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 172px;vertical-align: bottom;}
.td15{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 37px;vertical-align: bottom;}
.td16{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 30px;vertical-align: bottom;}
.td17{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 31px;vertical-align: bottom;}
.td18{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 36px;vertical-align: bottom;}
.td19{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 68px;vertical-align: bottom;}
.td20{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 51px;vertical-align: bottom;}

.tr0{height: 16px;}
.tr1{height: 19px;}
.tr2{height: 14px;}
.tr3{height: 5px;}
.tr4{height: 12px;}
.tr5{height: 3px;}
.tr6{height: 9px;}
.tr7{height: 22px;}
.tr8{height: 2px;}
.tr9{height: 20px;}
.tr10{height: 15px;}
.tr11{height: 21px;}
.tr12{height: 6px;}
.tr13{height: 13px;}
.tr14{height: 10px;}

.t0{width: 778px;font: 13px 'Times';}

</STYLE>
</HEAD>

<BODY>
<DIV id="page_1">


<DIV id="id_1">
<DIV id="id_1_1">
<P class="p0 ft0">Tournament of <NOBR>Champions-LD</NOBR> <NOBR>--</NOBR> Lincoln Douglas</P>
<P class="p1 ft1">University of Kentucky</P>
<P class="p2 ft1">April <NOBR>28-30,</NOBR> 2012</P>
</DIV>
<DIV id="id_1_2">
<P class="p0 ft2">Page 5</P>
</DIV>
</DIV>
<DIV id="id_2">
<TABLE cellpadding=0 cellspacing=0 class="t0">
<TR>
	<TD class="tr0 td0"><P class="p3 ft3">&nbsp;</P></TD>
	<TD colspan=2 class="tr0 td1"><P class="p4 ft4">RD 1</P></TD>
	<TD colspan=2 class="tr0 td2"><P class="p4 ft4">RD 2</P></TD>
	<TD colspan=2 class="tr0 td1"><P class="p4 ft4">RD 3</P></TD>
	<TD colspan=2 class="tr0 td2"><P class="p4 ft4">RD 4</P></TD>
	<TD colspan=2 class="tr0 td2"><P class="p4 ft4">RD 5</P></TD>
	<TD colspan=2 class="tr0 td1"><P class="p5 ft4">RD 6</P></TD>
	<TD class="tr0 td2"><P class="p4 ft4">RD 7</P></TD>
	<TD class="tr0 td3"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr0 td4"><P class="p3 ft3">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr1 td5"><P class="p6 ft4">Loyola High School MH</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr1 td7"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr1 td7"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr1 td9"><P class="p5 ft4">W</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr1 td10"><P class="p4 ft4">W Neg</P></TD>
	<TD rowspan=2 class="tr1 td11"><P class="p7 ft5"><NOBR>4-3</NOBR></P></TD>
	<TD class="tr2 td12"><P class="p8 ft6">143.50</P></TD>
</TR>
<TR>
	<TD class="tr3 td12"><P class="p3 ft7">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td5"><P class="p9 ft8">Loyola High School</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">SMHS JN</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">HarvarBG</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">CWHS TJ</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">ScarHSGR</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">BenFrWM</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p5 ft9">ScarHAD</P></TD>
	<TD class="tr2 td10"><P class="p4 ft9">Hocka KQ</P></TD>
	<TD class="tr2 td11"><P class="p3 ft10">&nbsp;</P></TD>
	<TD class="tr2 td12"><P class="p8 ft9">200.20</P></TD>
</TR>
<TR>
	<TD class="tr4 td5"><P class="p3 ft11">&nbsp;</P></TD>
	<TD class="tr4 td6"><P class="p4 ft12">Phillips,</P></TD>
	<TD class="tr4 td7"><P class="p3 ft11">&nbsp;</P></TD>
	<TD colspan=2 class="tr4 td10"><P class="p4 ft12">Tarsney, C</P></TD>
	<TD colspan=2 class="tr4 td13"><P class="p4 ft12">Clancy, Be</P></TD>
	<TD colspan=2 class="tr4 td10"><P class="p4 ft12">Palmer, Er</P></TD>
	<TD colspan=2 class="tr4 td10"><P class="p4 ft12">Tarsney, C</P></TD>
	<TD colspan=2 class="tr4 td13"><P class="p5 ft12">Chy, Charl</P></TD>
	<TD class="tr4 td10"><P class="p4 ft12">Moerner, D</P></TD>
	<TD class="tr4 td11"><P class="p10 ft13">Seed 26</P></TD>
	<TD class="tr4 td12"><P class="p3 ft11">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr1 td5"><P class="p9 ft4">Michael Harris</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">29.2</P></TD>
	<TD class="tr1 td7"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">28.5</P></TD>
	<TD class="tr1 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">29</P></TD>
	<TD class="tr1 td7"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">28</P></TD>
	<TD class="tr1 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">29</P></TD>
	<TD class="tr1 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td9"><P class="p5 ft4">29</P></TD>
	<TD class="tr1 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td10"><P class="p4 ft4">27.5</P></TD>
	<TD class="tr1 td11"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td12"><P class="p3 ft3">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr5 td14"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td16"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td16"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td18"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td19"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td3"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td20"><P class="p3 ft14">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr1 td5"><P class="p6 ft4">Loyola High School TP</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr1 td7"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr1 td7"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr1 td9"><P class="p5 ft4">L</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr1 td10"><P class="p4 ft4">W AFF</P></TD>
	<TD rowspan=2 class="tr1 td11"><P class="p7 ft5"><NOBR>2-5</NOBR></P></TD>
	<TD class="tr2 td12"><P class="p8 ft13">140.10</P></TD>
</TR>
<TR>
	<TD class="tr3 td12"><P class="p3 ft7">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td5"><P class="p9 ft8">Loyola High School</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">PV PenHZ</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">MBHS AC</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">GWash MZ</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">MVHS MJ</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">Lex JC</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p5 ft9">HarvarAK</P></TD>
	<TD class="tr2 td10"><P class="p4 ft9">BrntwdJS</P></TD>
	<TD class="tr2 td11"><P class="p3 ft10">&nbsp;</P></TD>
	<TD class="tr2 td12"><P class="p8 ft9">196.10</P></TD>
</TR>
<TR>
	<TD class="tr6 td5"><P class="p3 ft15">&nbsp;</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Tarsney, C</P></TD>
	<TD colspan=2 class="tr6 td10"><P class="p4 ft16">Merchant,</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Adler, Ste</P></TD>
	<TD colspan=2 class="tr6 td10"><P class="p4 ft16">Gooderham,</P></TD>
	<TD class="tr6 td6"><P class="p4 ft16">Phillips,</P></TD>
	<TD class="tr6 td8"><P class="p3 ft15">&nbsp;</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p5 ft16">Brundage,</P></TD>
	<TD class="tr6 td10"><P class="p4 ft16">Lamothe, J</P></TD>
	<TD class="tr6 td11"><P class="p3 ft15">&nbsp;</P></TD>
	<TD class="tr6 td12"><P class="p3 ft15">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr7 td5"><P class="p9 ft4">Tom Placido</P></TD>
	<TD class="tr7 td6"><P class="p4 ft4">28</P></TD>
	<TD class="tr7 td7"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft4">28</P></TD>
	<TD class="tr7 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft4">27.5</P></TD>
	<TD class="tr7 td7"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft4">28</P></TD>
	<TD class="tr7 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft4">28</P></TD>
	<TD class="tr7 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td9"><P class="p5 ft4">28.1</P></TD>
	<TD class="tr7 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td10"><P class="p4 ft4">28.5</P></TD>
	<TD class="tr7 td11"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td12"><P class="p3 ft3">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr8 td14"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td16"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td16"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td18"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td19"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td3"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td20"><P class="p3 ft17">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr9 td5"><P class="p6 ft4">Millburn Senior High YY</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr9 td7"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr9 td7"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr9 td9"><P class="p5 ft4">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr9 td10"><P class="p4 ft4">L Neg</P></TD>
	<TD rowspan=2 class="tr9 td11"><P class="p7 ft18"><NOBR>3-4</NOBR></P></TD>
	<TD class="tr10 td12"><P class="p8 ft6">142.00</P></TD>
</TR>
<TR>
	<TD class="tr3 td12"><P class="p3 ft7">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td5"><P class="p9 ft8">Millburn Senior High</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">ScarHSLM</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">KHS TF</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">Carpe JM</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">Lex PZ</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">PV PenDT</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p5 ft9">SJCP JH</P></TD>
	<TD class="tr2 td10"><P class="p4 ft9">Hocka AZ</P></TD>
	<TD class="tr2 td11"><P class="p3 ft10">&nbsp;</P></TD>
	<TD class="tr2 td12"><P class="p8 ft9">199.50</P></TD>
</TR>
<TR>
	<TD class="tr6 td5"><P class="p3 ft15">&nbsp;</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Holguin, B</P></TD>
	<TD colspan=2 class="tr6 td10"><P class="p4 ft16">Legried, E</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Smith, Tra</P></TD>
	<TD colspan=2 class="tr6 td10"><P class="p4 ft16">Nebel, Jak</P></TD>
	<TD class="tr6 td6"><P class="p4 ft16">Phillips,</P></TD>
	<TD class="tr6 td8"><P class="p3 ft15">&nbsp;</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p5 ft16">Sigalow, M</P></TD>
	<TD class="tr6 td10"><P class="p4 ft16">Jennis, Da</P></TD>
	<TD class="tr6 td11"><P class="p3 ft15">&nbsp;</P></TD>
	<TD class="tr6 td12"><P class="p3 ft15">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr7 td5"><P class="p9 ft4">Yang Yi</P></TD>
	<TD class="tr7 td6"><P class="p4 ft4">28</P></TD>
	<TD class="tr7 td7"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft4">28.7</P></TD>
	<TD class="tr7 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft4">28</P></TD>
	<TD class="tr7 td7"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft4">28</P></TD>
	<TD class="tr7 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft4">28.8</P></TD>
	<TD class="tr7 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td9"><P class="p5 ft4">29.5</P></TD>
	<TD class="tr7 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td10"><P class="p4 ft4">28.5</P></TD>
	<TD class="tr7 td11"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td12"><P class="p3 ft3">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr8 td14"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td16"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td16"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td18"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td19"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td3"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td20"><P class="p3 ft17">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr9 td5"><P class="p6 ft4">Monta Vista MJ</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr9 td7"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr9 td7"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr9 td9"><P class="p5 ft4">W</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr9 td10"><P class="p4 ft4">L AFF</P></TD>
	<TD rowspan=2 class="tr9 td11"><P class="p7 ft18"><NOBR>3-4</NOBR></P></TD>
	<TD class="tr10 td12"><P class="p8 ft6">143.50</P></TD>
</TR>
<TR>
	<TD class="tr3 td12"><P class="p3 ft7">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td5"><P class="p9 ft8">Monta Vista</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">TMS RF</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">HarvarAK</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">ETHS EB</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">LoyolaTP</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">Hocka AZ</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p5 ft9">ScarHSLM</P></TD>
	<TD class="tr2 td10"><P class="p4 ft9">SLP RS</P></TD>
	<TD class="tr2 td11"><P class="p3 ft10">&nbsp;</P></TD>
	<TD class="tr2 td12"><P class="p8 ft9">201.00</P></TD>
</TR>
<TR>
	<TD class="tr6 td5"><P class="p3 ft15">&nbsp;</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Zhou, Jaso</P></TD>
	<TD colspan=2 class="tr6 td10"><P class="p4 ft16">Tarsney, C</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Pearce, Ju</P></TD>
	<TD colspan=2 class="tr6 td10"><P class="p4 ft16">Gooderham,</P></TD>
	<TD colspan=2 class="tr6 td10"><P class="p4 ft16">Kramer, Al</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p5 ft16">Wilder, Br</P></TD>
	<TD class="tr6 td10"><P class="p4 ft16">Holguin, B</P></TD>
	<TD class="tr6 td11"><P class="p3 ft15">&nbsp;</P></TD>
	<TD class="tr6 td12"><P class="p3 ft15">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr11 td5"><P class="p9 ft4">Michelle Jiang</P></TD>
	<TD class="tr11 td6"><P class="p4 ft4">28</P></TD>
	<TD class="tr11 td7"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr11 td6"><P class="p4 ft4">28.5</P></TD>
	<TD class="tr11 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr11 td6"><P class="p4 ft4">29.5</P></TD>
	<TD class="tr11 td7"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr11 td6"><P class="p4 ft4">29</P></TD>
	<TD class="tr11 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr11 td6"><P class="p4 ft4">29.5</P></TD>
	<TD class="tr11 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr11 td9"><P class="p5 ft4">28.5</P></TD>
	<TD class="tr11 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr11 td10"><P class="p4 ft4">28</P></TD>
	<TD class="tr11 td11"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr11 td12"><P class="p3 ft3">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr5 td14"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td16"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td16"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td18"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td19"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td3"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td20"><P class="p3 ft14">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr9 td5"><P class="p6 ft4">Mountain Brook AC</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr9 td7"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr9 td7"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr9 td9"><P class="p5 ft4">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr9 td10"><P class="p4 ft4">W AFF</P></TD>
	<TD rowspan=2 class="tr9 td11"><P class="p7 ft18"><NOBR>2-5</NOBR></P></TD>
	<TD class="tr2 td12"><P class="p8 ft6">138.70</P></TD>
</TR>
<TR>
	<TD class="tr12 td12"><P class="p3 ft19">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr13 td5"><P class="p9 ft20">Mountain Brook High S</P></TD>
	<TD colspan=2 class="tr13 td13"><P class="p4 ft6">CWHS TJ</P></TD>
	<TD colspan=2 class="tr13 td10"><P class="p4 ft6">LoyolaTP</P></TD>
	<TD colspan=2 class="tr13 td13"><P class="p4 ft6">LoyolaBO</P></TD>
	<TD colspan=2 class="tr13 td10"><P class="p4 ft6">MVHS MM</P></TD>
	<TD colspan=2 class="tr13 td10"><P class="p4 ft6">HarvarAK</P></TD>
	<TD colspan=2 class="tr13 td13"><P class="p5 ft6">BHHS SC</P></TD>
	<TD class="tr13 td10"><P class="p4 ft6">PvilleTH</P></TD>
	<TD class="tr13 td11"><P class="p3 ft21">&nbsp;</P></TD>
	<TD class="tr13 td12"><P class="p8 ft6">194.20</P></TD>
</TR>
<TR>
	<TD class="tr14 td5"><P class="p3 ft22">&nbsp;</P></TD>
	<TD colspan=2 class="tr14 td13"><P class="p4 ft16">Anderson,</P></TD>
	<TD colspan=2 class="tr14 td10"><P class="p4 ft16">Merchant,</P></TD>
	<TD colspan=2 class="tr14 td13"><P class="p4 ft16">Zhou, Jaso</P></TD>
	<TD colspan=2 class="tr14 td10"><P class="p4 ft16">Norris, Ta</P></TD>
	<TD colspan=2 class="tr14 td10"><P class="p4 ft16">Dunay, Mat</P></TD>
	<TD colspan=2 class="tr14 td13"><P class="p5 ft16">Daks, Dani</P></TD>
	<TD class="tr14 td10"><P class="p4 ft16">Stewart, C</P></TD>
	<TD class="tr14 td11"><P class="p3 ft22">&nbsp;</P></TD>
	<TD class="tr14 td12"><P class="p3 ft22">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr11 td5"><P class="p9 ft4">Alex Cordover</P></TD>
	<TD class="tr11 td6"><P class="p4 ft4">27.5</P></TD>
	<TD class="tr11 td7"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr11 td6"><P class="p4 ft4">28</P></TD>
	<TD class="tr11 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr11 td6"><P class="p4 ft4">28.7</P></TD>
	<TD class="tr11 td7"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr11 td6"><P class="p4 ft4">27</P></TD>
	<TD class="tr11 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr11 td6"><P class="p4 ft4">27.5</P></TD>
	<TD class="tr11 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr11 td9"><P class="p5 ft4">26.5</P></TD>
	<TD class="tr11 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr11 td10"><P class="p4 ft4">29</P></TD>
	<TD class="tr11 td11"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr11 td12"><P class="p3 ft3">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr5 td14"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td16"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td16"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td18"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td19"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td3"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td20"><P class="p3 ft14">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr9 td5"><P class="p6 ft4">Mountain View MM</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr9 td7"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr9 td7"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr9 td9"><P class="p5 ft4">W</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr9 td10"><P class="p4 ft4">L Neg</P></TD>
	<TD rowspan=2 class="tr9 td11"><P class="p7 ft18"><NOBR>2-5</NOBR></P></TD>
	<TD class="tr2 td12"><P class="p8 ft6">139.40</P></TD>
</TR>
<TR>
	<TD class="tr12 td12"><P class="p3 ft19">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr13 td5"><P class="p9 ft20">Mountain View</P></TD>
	<TD colspan=2 class="tr13 td13"><P class="p4 ft6">HarvarMC</P></TD>
	<TD colspan=2 class="tr13 td10"><P class="p4 ft6">UnivScJT</P></TD>
	<TD colspan=2 class="tr13 td13"><P class="p4 ft6">NorthlRD</P></TD>
	<TD colspan=2 class="tr13 td10"><P class="p4 ft6">MBHS AC</P></TD>
	<TD colspan=2 class="tr13 td10"><P class="p4 ft6">LextonAH</P></TD>
	<TD colspan=2 class="tr13 td13"><P class="p5 ft6">HarvarBG</P></TD>
	<TD class="tr13 td10"><P class="p4 ft6">ScarHSZE</P></TD>
	<TD class="tr13 td11"><P class="p3 ft21">&nbsp;</P></TD>
	<TD class="tr13 td12"><P class="p8 ft6">196.00</P></TD>
</TR>
<TR>
	<TD class="tr6 td5"><P class="p3 ft15">&nbsp;</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Wilson, Ma</P></TD>
	<TD colspan=2 class="tr6 td10"><P class="p4 ft16">Green, Per</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Legried, E</P></TD>
	<TD colspan=2 class="tr6 td10"><P class="p4 ft16">Norris, Ta</P></TD>
	<TD colspan=2 class="tr6 td10"><P class="p4 ft16">Hudgens, J</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p5 ft16">Theis, Chr</P></TD>
	<TD class="tr6 td10"><P class="p4 ft16">Merchant,</P></TD>
	<TD class="tr6 td11"><P class="p3 ft15">&nbsp;</P></TD>
	<TD class="tr6 td12"><P class="p3 ft15">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr7 td5"><P class="p9 ft4">Max Mccarthy</P></TD>
	<TD class="tr7 td6"><P class="p4 ft4">27.5</P></TD>
	<TD class="tr7 td7"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft4">28.5</P></TD>
	<TD class="tr7 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft4">27.4</P></TD>
	<TD class="tr7 td7"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft4">27.5</P></TD>
	<TD class="tr7 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft4">29.6</P></TD>
	<TD class="tr7 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td9"><P class="p5 ft4">27</P></TD>
	<TD class="tr7 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td10"><P class="p4 ft4">28.5</P></TD>
	<TD class="tr7 td11"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td12"><P class="p3 ft3">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr5 td14"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td16"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td16"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td18"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td19"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td3"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td20"><P class="p3 ft14">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr1 td5"><P class="p6 ft4">Mountain View NN</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr1 td7"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr1 td7"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr1 td9"><P class="p5 ft4">L</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr1 td10"><P class="p4 ft4">W AFF</P></TD>
	<TD rowspan=2 class="tr1 td11"><P class="p7 ft5"><NOBR>6-1</NOBR></P></TD>
	<TD class="tr2 td12"><P class="p8 ft6">145.20</P></TD>
</TR>
<TR>
	<TD class="tr3 td12"><P class="p3 ft7">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td5"><P class="p9 ft8">Mountain View</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">PvilleTH</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">Lex PZ</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">ScarHSSN</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">TMS RF</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">LoyolaAB</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p5 ft9">HarvarMC</P></TD>
	<TD class="tr2 td10"><P class="p4 ft9">GHS RK</P></TD>
	<TD class="tr2 td11"><P class="p3 ft10">&nbsp;</P></TD>
	<TD class="tr2 td12"><P class="p8 ft9">203.90</P></TD>
</TR>
<TR>
	<TD class="tr4 td5"><P class="p3 ft11">&nbsp;</P></TD>
	<TD colspan=2 class="tr4 td13"><P class="p4 ft12">Tarsney, C</P></TD>
	<TD colspan=2 class="tr4 td10"><P class="p4 ft12">Legried, E</P></TD>
	<TD colspan=2 class="tr4 td13"><P class="p4 ft12">Wilson, Ma</P></TD>
	<TD colspan=2 class="tr4 td10"><P class="p4 ft12">Scoggin, J</P></TD>
	<TD colspan=2 class="tr4 td10"><P class="p4 ft12">Adler, Ste</P></TD>
	<TD colspan=2 class="tr4 td13"><P class="p5 ft12">Zhang, Ale</P></TD>
	<TD class="tr4 td10"><P class="p4 ft12">Scoggin, L</P></TD>
	<TD class="tr4 td11"><P class="p10 ft13">3rd Seed</P></TD>
	<TD class="tr4 td12"><P class="p3 ft11">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr1 td5"><P class="p9 ft4">Nikhil Nag</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">29</P></TD>
	<TD class="tr1 td7"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">29</P></TD>
	<TD class="tr1 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">28.7</P></TD>
	<TD class="tr1 td7"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">29</P></TD>
	<TD class="tr1 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">29.2</P></TD>
	<TD class="tr1 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td9"><P class="p5 ft4">29</P></TD>
	<TD class="tr1 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td10"><P class="p4 ft4">30</P></TD>
	<TD class="tr1 td11"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td12"><P class="p3 ft3">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr5 td14"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td16"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td16"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td18"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td19"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td3"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td20"><P class="p3 ft14">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr1 td5"><P class="p6 ft4">New Orleans Jesuit JH</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr1 td7"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr1 td7"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr1 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr1 td9"><P class="p5 ft4">W</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr1 td10"><P class="p4 ft4">L AFF</P></TD>
	<TD rowspan=2 class="tr1 td11"><P class="p7 ft5"><NOBR>3-4</NOBR></P></TD>
	<TD class="tr2 td12"><P class="p8 ft6">141.00</P></TD>
</TR>
<TR>
	<TD class="tr3 td12"><P class="p3 ft7">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td5"><P class="p9 ft8">New Orleans Jesuit</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">GHS FD</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">PV PenHZ</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">TMS RF</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">SJCP CS</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">BrntwdKA</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p5 ft9">Lex JC</P></TD>
	<TD class="tr2 td10"><P class="p4 ft9">GWash MZ</P></TD>
	<TD class="tr2 td11"><P class="p3 ft10">&nbsp;</P></TD>
	<TD class="tr2 td12"><P class="p8 ft9">197.00</P></TD>
</TR>
<TR>
	<TD class="tr6 td5"><P class="p3 ft15">&nbsp;</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Tagher, Ma</P></TD>
	<TD colspan=2 class="tr6 td10"><P class="p4 ft16">Melin, Jen</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Pielstick,</P></TD>
	<TD colspan=2 class="tr6 td10"><P class="p4 ft16">Hassin, Mi</P></TD>
	<TD colspan=2 class="tr6 td10"><P class="p4 ft16">Mandhania,</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p5 ft16">Norris, Ta</P></TD>
	<TD class="tr6 td10"><P class="p4 ft16">Clancy, Be</P></TD>
	<TD class="tr6 td11"><P class="p3 ft15">&nbsp;</P></TD>
	<TD class="tr6 td12"><P class="p3 ft15">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr7 td5"><P class="p9 ft4">Jim Huang</P></TD>
	<TD class="tr7 td6"><P class="p4 ft4">28</P></TD>
	<TD class="tr7 td7"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft4">28.5</P></TD>
	<TD class="tr7 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft4">29</P></TD>
	<TD class="tr7 td7"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft4">28.5</P></TD>
	<TD class="tr7 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td6"><P class="p4 ft4">28</P></TD>
	<TD class="tr7 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td9"><P class="p5 ft4">27</P></TD>
	<TD class="tr7 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td10"><P class="p4 ft4">28</P></TD>
	<TD class="tr7 td11"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr7 td12"><P class="p3 ft3">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr8 td14"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td16"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td16"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td18"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td19"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td3"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td20"><P class="p3 ft17">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr9 td5"><P class="p6 ft4">New Orleans Jesuit JP</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr9 td7"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">Bye</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr9 td7"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr9 td9"><P class="p5 ft4">W</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr9 td10"><P class="p4 ft4">L AFF</P></TD>
	<TD rowspan=2 class="tr9 td11"><P class="p7 ft18"><NOBR>5-2</NOBR></P></TD>
	<TD class="tr10 td12"><P class="p8 ft6">146.25</P></TD>
</TR>
<TR>
	<TD class="tr3 td12"><P class="p3 ft7">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td5"><P class="p9 ft8">New Orleans Jesuit</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">HarvarBG</P></TD>
	<TD class="tr2 td6"><P class="p3 ft10">&nbsp;</P></TD>
	<TD class="tr2 td8"><P class="p3 ft10">&nbsp;</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">Blake JN</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">Lex NS</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">ScoastCB</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p5 ft9">UnivScJT</P></TD>
	<TD class="tr2 td10"><P class="p4 ft9">UnivScMF</P></TD>
	<TD class="tr2 td11"><P class="p3 ft10">&nbsp;</P></TD>
	<TD class="tr2 td12"><P class="p8 ft9">204.75</P></TD>
</TR>
<TR>
	<TD class="tr4 td5"><P class="p3 ft11">&nbsp;</P></TD>
	<TD class="tr4 td6"><P class="p4 ft12">Liu, Jeff</P></TD>
	<TD class="tr4 td7"><P class="p3 ft11">&nbsp;</P></TD>
	<TD class="tr4 td6"><P class="p3 ft11">&nbsp;</P></TD>
	<TD class="tr4 td8"><P class="p3 ft11">&nbsp;</P></TD>
	<TD colspan=2 class="tr4 td13"><P class="p4 ft12">Chy, Charl</P></TD>
	<TD colspan=2 class="tr4 td10"><P class="p4 ft12">Massey, Jo</P></TD>
	<TD colspan=2 class="tr4 td10"><P class="p4 ft12">Rose, Erni</P></TD>
	<TD colspan=2 class="tr4 td13"><P class="p5 ft12">Tarsney, C</P></TD>
	<TD class="tr4 td10"><P class="p4 ft12">Holguin, B</P></TD>
	<TD class="tr4 td11"><P class="p10 ft13">7th Seed</P></TD>
	<TD class="tr4 td12"><P class="p3 ft11">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr1 td5"><P class="p9 ft4">Jacob Pritt</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">28.5</P></TD>
	<TD class="tr1 td7"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">29.3</P></TD>
	<TD class="tr1 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">28.5</P></TD>
	<TD class="tr1 td7"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">30</P></TD>
	<TD class="tr1 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p4 ft4">29</P></TD>
	<TD class="tr1 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td9"><P class="p5 ft4">30</P></TD>
	<TD class="tr1 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td10"><P class="p4 ft4">29.5</P></TD>
	<TD class="tr1 td11"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr1 td12"><P class="p3 ft3">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr8 td14"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td16"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td16"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td15"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td18"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td17"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td19"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td3"><P class="p3 ft17">&nbsp;</P></TD>
	<TD class="tr8 td20"><P class="p3 ft17">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr9 td5"><P class="p6 ft4">Northland Christian RD</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr9 td7"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr9 td7"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">W</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr9 td6"><P class="p4 ft4">L</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">AFF</P></TD>
	<TD rowspan=2 class="tr9 td9"><P class="p5 ft4">W</P></TD>
	<TD rowspan=2 class="tr9 td8"><P class="p3 ft4">Neg</P></TD>
	<TD rowspan=2 class="tr9 td10"><P class="p4 ft4">L AFF</P></TD>
	<TD rowspan=2 class="tr9 td11"><P class="p7 ft18"><NOBR>3-4</NOBR></P></TD>
	<TD class="tr10 td12"><P class="p8 ft6">139.30</P></TD>
</TR>
<TR>
	<TD class="tr3 td12"><P class="p3 ft7">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td5"><P class="p9 ft8">Northland Christian</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">BrntwdKA</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">ScarHAD</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p4 ft9">MVHS MM</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">KDHS AW</P></TD>
	<TD colspan=2 class="tr2 td10"><P class="p4 ft9">LoyolaBO</P></TD>
	<TD colspan=2 class="tr2 td13"><P class="p5 ft9">FloMo CH</P></TD>
	<TD class="tr2 td10"><P class="p4 ft9">BaHS AT</P></TD>
	<TD class="tr2 td11"><P class="p3 ft10">&nbsp;</P></TD>
	<TD class="tr2 td12"><P class="p8 ft9">195.80</P></TD>
</TR>
<TR>
	<TD class="tr6 td5"><P class="p3 ft15">&nbsp;</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Lamothe, J</P></TD>
	<TD colspan=2 class="tr6 td10"><P class="p4 ft16">Liu, Larry</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p4 ft16">Legried, E</P></TD>
	<TD colspan=2 class="tr6 td10"><P class="p4 ft16">Gooderham,</P></TD>
	<TD colspan=2 class="tr6 td10"><P class="p4 ft16">Boyer, Bek</P></TD>
	<TD colspan=2 class="tr6 td13"><P class="p5 ft16"><NOBR>Zerbib-ber</NOBR></P></TD>
	<TD class="tr6 td10"><P class="p4 ft16">Imas, Dani</P></TD>
	<TD class="tr6 td11"><P class="p3 ft15">&nbsp;</P></TD>
	<TD class="tr6 td12"><P class="p3 ft15">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr11 td5"><P class="p9 ft4">Robbie Dillard</P></TD>
	<TD class="tr11 td6"><P class="p4 ft4">28</P></TD>
	<TD class="tr11 td7"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr11 td6"><P class="p4 ft4">28</P></TD>
	<TD class="tr11 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr11 td6"><P class="p4 ft4">27.8</P></TD>
	<TD class="tr11 td7"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr11 td6"><P class="p4 ft4">27.5</P></TD>
	<TD class="tr11 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr11 td6"><P class="p4 ft4">29.5</P></TD>
	<TD class="tr11 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr11 td9"><P class="p5 ft4">28</P></TD>
	<TD class="tr11 td8"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr11 td10"><P class="p4 ft4">27</P></TD>
	<TD class="tr11 td11"><P class="p3 ft3">&nbsp;</P></TD>
	<TD class="tr11 td12"><P class="p3 ft3">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr5 td14"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td16"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td16"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td15"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td18"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td19"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td3"><P class="p3 ft14">&nbsp;</P></TD>
	<TD class="tr5 td20"><P class="p3 ft14">&nbsp;</P></TD>
</TR>
</TABLE>
</DIV>
</DIV>
</BODY>
</HTML>
